exec_200.json
{"data":{"id":"200","finished":true,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-18T20:07:04.766Z","startedAt":"2026-02-18T20:07:04.810Z","stoppedAt":"2026-02-18T20:08:15.254Z","deletedAt":null,"workflowId":"8DhaAk6JDxfqkRWW","waitTill":null,"storedAt":"db","data":"[{\"version\":1,\"startData\":\"1\",\"resultData\":\"2\",\"executionData\":\"3\"},{},{\"runData\":\"4\",\"pinData\":\"5\",\"lastNodeExecuted\":\"6\"},{\"contextData\":\"7\",\"nodeExecutionStack\":\"8\",\"metadata\":\"9\",\"waitingExecution\":\"10\",\"waitingExecutionSource\":\"11\",\"runtimeData\":\"12\"},{\"Daily 23:00\":\"13\",\"Load Today's Transcripts\":\"14\",\"Aggregate Transcripts\":\"15\",\"Has Data?\":\"16\",\"GLM-4 Summarize\":\"17\",\"Build Digest\":\"18\",\"Chunk for Telegram\":\"19\",\"Send Telegram\":\"20\",\"Collapse Chunks\":\"21\",\"Mark Summary Sent\":\"22\"},{},\"Mark Summary Sent\",{\"node:GLM-4 Summarize\":\"23\",\"node:Send Telegram\":\"24\"},[],{},{},{},{\"version\":1,\"establishedAt\":1771445224859,\"source\":\"25\",\"triggerNode\":\"26\"},[\"27\"],[\"28\"],[\"29\"],[\"30\"],[\"31\"],[\"32\"],[\"33\"],[\"34\"],[\"35\"],[\"36\"],{\"response\":\"37\"},{\"response\":\"38\"},\"manual\",{\"name\":\"39\",\"type\":\"40\"},{\"startTime\":1771445224889,\"executionIndex\":0,\"source\":\"41\",\"hints\":\"42\",\"executionTime\":9,\"executionStatus\":\"43\",\"data\":\"44\"},{\"startTime\":1771445224900,\"executionIndex\":1,\"source\":\"45\",\"hints\":\"46\",\"executionTime\":71,\"executionStatus\":\"43\",\"data\":\"47\"},{\"startTime\":1771445224973,\"executionIndex\":2,\"source\":\"48\",\"hints\":\"49\",\"executionTime\":37,\"executionStatus\":\"43\",\"data\":\"50\"},{\"startTime\":1771445225012,\"executionIndex\":3,\"source\":\"51\",\"hints\":\"52\",\"executionTime\":3,\"executionStatus\":\"43\",\"data\":\"53\"},{\"startTime\":1771445225018,\"executionIndex\":4,\"source\":\"54\",\"hints\":\"55\",\"executionTime\":69841,\"executionStatus\":\"43\",\"data\":\"56\"},{\"startTime\":1771445294872,\"executionIndex\":5,\"source\":\"57\",\"hints\":\"58\",\"executionTime\":26,\"executionStatus\":\"43\",\"data\":\"59\"},{\"startTime\":1771445294899,\"executionIndex\":6,\"source\":\"60\",\"hints\":\"61\",\"executionTime\":22,\"executionStatus\":\"43\",\"data\":\"62\"},{\"startTime\":1771445294922,\"executionIndex\":7,\"source\":\"63\",\"hints\":\"64\",\"executionTime\":221,\"executionStatus\":\"43\",\"data\":\"65\"},{\"startTime\":1771445295145,\"executionIndex\":8,\"source\":\"66\",\"hints\":\"67\",\"executionTime\":15,\"executionStatus\":\"43\",\"data\":\"68\"},{\"startTime\":1771445295162,\"executionIndex\":9,\"source\":\"69\",\"hints\":\"70\",\"executionTime\":91,\"executionStatus\":\"43\",\"data\":\"71\"},{\"body\":\"72\"},{\"body\":\"73\"},\"Daily 23:00\",\"n8n-nodes-base.scheduleTrigger\",[],[],\"success\",{\"main\":\"74\"},[\"75\"],[],{\"main\":\"76\"},[\"77\"],[],{\"main\":\"78\"},[\"79\"],[],{\"main\":\"80\"},[\"81\"],[],{\"main\":\"82\"},[\"83\"],[],{\"main\":\"84\"},[\"85\"],[],{\"main\":\"86\"},[\"87\"],[],{\"main\":\"88\"},[\"89\"],[],{\"main\":\"90\"},[\"91\"],[],{\"main\":\"92\"},{\"choices\":\"93\",\"created\":1771445294,\"id\":\"94\",\"model\":\"95\",\"object\":\"96\",\"request_id\":\"94\",\"usage\":\"97\"},{\"ok\":true,\"result\":\"98\"},[\"99\"],{\"previousNode\":\"39\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"100\"],{\"previousNode\":\"101\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"102\"],{\"previousNode\":\"103\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"104\",\"105\"],{\"previousNode\":\"106\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"107\"],{\"previousNode\":\"108\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"109\"],{\"previousNode\":\"110\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"111\"],{\"previousNode\":\"112\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"113\"],{\"previousNode\":\"114\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"115\"],{\"previousNode\":\"116\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"117\"],[\"118\"],\"2026021904070512ef20b450dd4b7d\",\"glm-4.7-flash\",\"chat.completion\",{\"completion_tokens\":1400,\"prompt_tokens\":465,\"prompt_tokens_details\":\"119\",\"total_tokens\":1865},{\"message_id\":62,\"from\":\"120\",\"chat\":\"121\",\"date\":1771445295,\"text\":\"122\"},[\"123\"],[\"124\",\"125\",\"126\"],\"Load Today's Transcripts\",[\"127\"],\"Aggregate Transcripts\",[\"128\"],[],\"Has Data?\",[\"129\"],\"GLM-4 Summarize\",[\"130\"],\"Build Digest\",[\"131\"],\"Chunk for Telegram\",[\"132\"],\"Send Telegram\",[\"133\"],\"Collapse Chunks\",[\"134\"],{\"finish_reason\":\"135\",\"index\":0,\"message\":\"136\"},{\"cached_tokens\":5},{\"id\":8527521201,\"is_bot\":true,\"first_name\":\"137\",\"username\":\"138\"},{\"id\":-1003872092456,\"title\":\"139\",\"type\":\"140\"},\"Ежедневный дайджест за 18.02.2026\\nВстреч: 3\\nКлиенты: LEAD-LEAD-001, LEAD-LEAD-002, LEAD-LEAD-003\\n\\nСводка не получена.\",{\"json\":\"141\",\"pairedItem\":\"142\"},{\"json\":\"143\",\"pairedItem\":\"144\"},{\"json\":\"145\",\"pairedItem\":\"144\"},{\"json\":\"146\",\"pairedItem\":\"144\"},{\"json\":\"147\",\"pairedItem\":\"148\"},{\"json\":\"147\",\"pairedItem\":\"149\"},{\"json\":\"72\",\"pairedItem\":\"150\"},{\"json\":\"151\",\"pairedItem\":\"152\"},{\"json\":\"153\",\"pairedItem\":\"154\"},{\"json\":\"73\",\"pairedItem\":\"155\"},{\"json\":\"156\",\"pairedItem\":\"157\"},{\"json\":\"158\",\"pairedItem\":\"159\"},\"length\",{\"content\":\"160\",\"reasoning_content\":\"161\",\"role\":\"162\"},\"Отчёты ФФ Платформы\",\"ffp_report_bot\",\"не соображаем на троих\",\"supergroup\",{\"timestamp\":\"163\",\"Readable date\":\"164\",\"Readable time\":\"165\",\"Day of week\":\"166\",\"Year\":\"167\",\"Month\":\"168\",\"Day of month\":\"169\",\"Hour\":\"170\",\"Minute\":\"171\",\"Second\":\"172\",\"Timezone\":\"173\"},{\"item\":0},{\"id\":18,\"lead_id\":\"174\",\"transcript_text\":\"175\"},{\"item\":0},{\"id\":19,\"lead_id\":\"176\",\"transcript_text\":\"177\"},{\"id\":20,\"lead_id\":\"178\",\"transcript_text\":\"179\"},{\"hasData\":true,\"dateLabel\":\"180\",\"combined\":\"181\",\"rowIds\":\"182\",\"leadIds\":\"183\",\"count\":3,\"truncated\":false},{\"item\":0},{\"item\":0},{\"item\":0},{\"digest\":\"122\",\"summaryText\":\"184\",\"rowIds\":\"185\"},{\"item\":0},{\"text\":\"122\",\"part\":1,\"total\":1},{\"item\":0},{\"item\":0},{\"rowIdsSql\":\"186\",\"summaryEscaped\":\"184\"},{\"item\":0},{\"success\":true},[\"187\"],\"\",\"1.  **Analyze the Request:**\\n    *   **Role:** Business Analyst.\\n    *   **Task:** Create a daily digest from meeting transcripts.\\n    *   **Format:**\\n        1.  Brief Summary (3-5 sentences).\\n        2.  Key Agreements (bullet points).\\n        3.  Action Items (bullet points with responsible party).\\n        4.  Risks/Blockers (bullet points or \\\"None\\\").\\n        5.  Clients/LEAD: List LEAD-ID and 1-2 key points per lead.\\n    *   **Constraint:** Max 3500 characters.\\n    *   **Input Data:** Three short transcripts (LEAD-001, LEAD-002, LEAD-003).\\n\\n2.  **Analyze the Input Data:**\\n    *   **LEAD-001:**\\n        *   Manager: Alexey.\\n        *   Client: Interested in product for call automation.\\n        *   Price: Basic tariff from 5000 rub/month.\\n        *   Action: Client asked for a commercial proposal (CP).\\n    *   **LEAD-002:**\\n        *   Manager: Unknown.\\n        *   Client: Inquiry about CRM for small business (10 people).\\n        *   Solution: \\\"Start\\\" tariff suggested.\\n        *   Outcome: Client agreed to try, Manager is drafting the contract.\\n    *   **LEAD-003:**\\n        *   Client: Support call.\\n        *   Issue: Integration with 1C (version 8.3) not working.\\n        *   Resolution: Known issue, fix scheduled within 1 hour.\\n        *   Follow-up: Manager will call back when ready.\\n\\n3.  **Drafting the Digest (Iterative Process):**\\n\\n    *   **Section 1: Brief Summary**\\n        *   *Draft 1:* Today we had three leads. One client is interested in call automation and needs a quote. Another client agreed to a CRM trial for a small team. A support ticket regarding 1C integration was resolved quickly.\\n        *   *Refining (Russian):* Сегодня состоялись три встречи. Один клиент выразил интерес к автоматизации звонков и запросил коммерческое предложение. Второй клиент согласился на пробное использование CRM для команды из 10 человек. Третий кейс касался технической поддержки: интеграция с 1С была успешно диагностирована и запланирован к исправлению в течение часа.\\n\\n    *   **Section 2: Key Agreements**\\n        *   *Draft 1:*\\n            *   Lead 001: Client wants a quote for call automation.\\n            *   Lead 002: Client agreed to \\\"Start\\\" tariff.\\n            *   Lead 003: Fix is within 1 hour.\\n        *   *Refining (Russian):*\\n            *   LEAD-001: Клиент заинтересован в автоматизации обработки звонков, готов рассмотреть тариф от 5000 руб./мес.\\n            *   LEAD-002: Подобран тариф «Старт» для бизнеса с численностью 10 человек, клиент согласен на пробное использование.\\n            *   LEAD-003: Проблема с интеграцией 1С (версия 8.3) признана известной, фикс запланирован на ближайший час.\\n\\n    *   **Section 3: Action Items**\\n        *   *Draft 1:*\\n            *   Send CP to Lead 001.\\n            *   Draft contract for Lead 002.\\n            *   Call back Lead 003 when fixed.\\n        *   *Refining (Russian):*\\n            *   Отправить коммерческое предложение (КП) клиенту LEAD-001.\\n            *   Оформить и отправить договор клиенту LEAD-002.\\n            *   Перезвонить клиенту LEAD-003 после устранения неполадки с интеграцией.\\n\\n    *   **Section 4: Risks/Blockers**\\n        *   *Draft 1:* None.\\n        *   *Refining (Russian):* Нет.\\n\\n    *   **Section 5: Clients/LEAD**\\n        *   *LEAD-001:* Interested in call automation, price 5000 rub/month, needs CP.\\n        *   *LEAD-002:* Small business (10 people), interested in CRM, agreed to \\\"Start\\\" tariff.\\n        *   *LEAD-003:* 1C version 8.3, integration issue, fix in 1 hour.\\n\\n4.  **Review and Formatting:**\\n    *   Check character count (well under 3500).\\n    *   Check structure compliance.\\n    *   Ensure tone is professional (Business Analyst).\\n\\n5.  **Final Polish (Russian):**\\n\\n    **Ежедневный дайджест**\\n\\n    **1. Краткое резюме дня**\\n    Сегодня состоялись три встречи: одна коммерческая (автоматизация звонков), одна на согласование CRM-системы для малого бизнеса и одна техническая поддержка. Клиент по первому кейсу заинтересован в продукте и ждет коммерческое предложение, второй клиент согласился на пробный период, а техническая проблема с интеграцией 1С была оперативно решена.\\n\\n    **2. Ключевые договоренности**\\n    *   LEAD-001: Клиент рассматривает тариф от 5000 руб./мес. для автоматизации звонков.\\n    *   LEAD-002: Подобран тариф «Старт» для команды из 10 человек, клиент готов к работе.\\n    *   LEAD-003: Проблема с интеграцией 1С (версия 8.3) признана известной, фикс запланирован в течение часа.\\n\\n    **3. Action items**\\n    *   Отправить коммерческое предложение клиенту LEAD-001.\\n    *   Оформить и согласовать договор с клиентом LEAD-002.\\n    *   Перезвонить клиенту LEAD-003 после устранения неполадки.\\n\\n    **4. Риски/блокеры**\\n    *   Нет.\\n\\n    **5. Клиенты/LEAD**\\n    *   **LEAD-001:** Интерес к автоматизации звонков, запрос КП по тарифу от 5000 руб./мес.\\n    *   **LEAD-002:** Малый бизнес (10 чел.), интерес к CRM, согласие на тариф «Старт».\\n    *   **LEAD-003:** Интеграция с 1\",\"assistant\",\"2026-02-18T23:07:04.897+03:00\",\"February 18th 2026, 11:07:04 pm\",\"11:07:04 pm\",\"Wednesday\",\"2026\",\"February\",\"18\",\"23\",\"07\",\"04\",\"Europe/Moscow (UTC+03:00)\",\"LEAD-001\",\"Менеджер: Добрый день, меня зовут Алексей. Клиент: Здравствуйте, я хотел бы узнать о вашем продукте. Менеджер: Конечно, расскажу подробнее. Наш продукт помогает автоматизировать обработку звонков. Клиент: Интересно, сколько это стоит? Менеджер: Базовый тариф от 5000 рублей в месяц. Клиент: Хорошо, пришлите коммерческое предложение.\",\"LEAD-002\",\"Менеджер: Добрый день! Клиент: Здравствуйте, я звоню по поводу заявки. Менеджер: Да, вижу вашу заявку. Вы интересовались CRM системой? Клиент: Да верно. У нас небольшой бизнес, 10 человек. Менеджер: Для такого размера подойдёт тариф Старт. Клиент: Окей, давайте попробуем. Менеджер: Отлично, оформляю договор.\",\"LEAD-003\",\"Клиент: Алло, это поддержка? Менеджер: Да, слушаю вас. Клиент: У меня не работает интеграция с 1С. Менеджер: Понял, давайте разберёмся. Какая версия 1С? Клиент: 8.3. Менеджер: Хорошо, проблема известная, починим в течение часа. Клиент: Спасибо большое. Менеджер: Пожалуйста, перезвоним когда будет готово.\",\"18.02.2026\",\"LEAD-LEAD-001:\\nМенеджер: Добрый день, меня зовут Алексей. Клиент: Здравствуйте, я хотел бы узнать о вашем продукте. Менеджер: Конечно, расскажу подробнее. Наш продукт помогает автоматизировать обработку звонков. Клиент: Интересно, сколько это стоит? Менеджер: Базовый тариф от 5000 рублей в месяц. Клиент: Хорошо, пришлите коммерческое предложение.\\n\\n---\\n\\nLEAD-LEAD-002:\\nМенеджер: Добрый день! Клиент: Здравствуйте, я звоню по поводу заявки. Менеджер: Да, вижу вашу заявку. Вы интересовались CRM системой? Клиент: Да верно. У нас небольшой бизнес, 10 человек. Менеджер: Для такого размера подойдёт тариф Старт. Клиент: Окей, давайте попробуем. Менеджер: Отлично, оформляю договор.\\n\\n---\\n\\nLEAD-LEAD-003:\\nКлиент: Алло, это поддержка? Менеджер: Да, слушаю вас. Клиент: У меня не работает интеграция с 1С. Менеджер: Понял, давайте разберёмся. Какая версия 1С? Клиент: 8.3. Менеджер: Хорошо, проблема известная, починим в течение часа. Клиент: Спасибо большое. Менеджер: Пожалуйста, перезвоним когда будет готово.\",[18,19,20],[\"174\",\"176\",\"178\"],\"Сводка не получена.\",[18,19,20],\"18,19,20\",{\"item\":0}]","workflowData":{"id":"8DhaAk6JDxfqkRWW","name":"02 — Daily Digest → GLM-4 → Telegram","active":false,"activeVersionId":null,"nodes":[{"parameters":{"notice":"","rule":{"interval":[{"field":"cronExpression","notice":"","expression":"0 23 * * *"}]}},"id":"daily-trigger","name":"Daily 23:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT id, lead_id, transcript_text FROM v_today_completed WHERE summary_sent = false AND transcript_text IS NOT NULL","options":{}},"id":"load-today","name":"Load Today's Transcripts","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,0],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { hasData: false } }];\n}\n\nconst dateLabel = new Date().toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow' });\nconst MAX_CHARS = 50000;\nconst sections = [];\nlet totalLen = 0;\nlet truncated = false;\n\nfor (const item of items) {\n  const leadId = item.json.lead_id || 'unknown';\n  const transcript = item.json.transcript_text || '';\n  const section = `LEAD-${leadId}:\\n${transcript}`;\n  \n  if (totalLen + section.length > MAX_CHARS) {\n    truncated = true;\n    break;\n  }\n  sections.push(section);\n  totalLen += section.length;\n}\n\nconst combined = sections.join('\\n\\n---\\n\\n') + (truncated ? '\\n\\n[...обрезано, слишком много текста за день...]' : '');\nconst rowIds = items.slice(0, sections.length).map((item) => item.json.id);\nconst leadIds = Array.from(new Set(items.slice(0, sections.length).map((item) => item.json.lead_id).filter((v) => v !== null && v !== undefined)));\n\nreturn [{\n  json: {\n    hasData: true,\n    dateLabel,\n    combined,\n    rowIds,\n    leadIds,\n    count: sections.length,\n    truncated\n  }\n}];","notice":""},"id":"aggregate-transcripts","name":"Aggregate Transcripts","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-data","leftValue":"={{ $json.combined }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"if-has-data","name":"Has Data?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,0]},{"parameters":{"curlImport":"","method":"POST","url":"https://open.bigmodel.cn/api/paas/v4/chat/completions","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fda5cc088ab04a1a92d5966b373e81a3.rfUescuUieAO78M6"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'glm-4.7-flash', messages: [ { role: 'system', content: 'Ты бизнес-аналитик. Сформируй ежедневный дайджест по стенограммам встреч. Формат: 1) Краткое резюме дня (3-5 предложений). 2) Ключевые договоренности (буллеты). 3) Action items (буллеты с ответственным, если есть). 4) Риски/блокеры (буллеты или Нет). 5) Клиенты/LEAD: перечисли LEAD-ID, по каждому 1-2 ключевых пункта. Ограничение: до 3500 символов.' }, { role: 'user', content: $json.combined } ], temperature: 0.2, max_tokens: 1400, stream: false }) }}","options":{"timeout":180000},"infoMessage":""},"id":"glm-summarize","name":"GLM-4 Summarize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-128]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const meta = $('Aggregate Transcripts').first().json;\nconst content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : '';\nconst summaryText = content.trim() || 'Сводка не получена.';\nconst leadList = Array.isArray(meta.leadIds) && meta.leadIds.length > 0 ? meta.leadIds.map((id) => `LEAD-${id}`).join(', ') : '—';\nconst header = `Ежедневный дайджест за ${meta.dateLabel}\\nВстреч: ${meta.count}\\nКлиенты: ${leadList}`;\nconst digest = `${header}\\n\\n${summaryText}`.trim();\n\nreturn [{\n  json: {\n    digest,\n    summaryText,\n    rowIds: meta.rowIds\n  }\n}];","notice":""},"id":"build-digest","name":"Build Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-128]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const text = $json.digest || '';\nconst max = 3500;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += max) {\n  chunks.push(text.slice(i, i + max));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunks.length > 1 ? `${chunk}\\n\\n(часть ${index + 1}/${chunks.length})` : chunk,\n    part: index + 1,\n    total: chunks.length\n  }\n}));","notice":""},"id":"chunk-telegram","name":"Chunk for Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-128]},{"parameters":{"curlImport":"","method":"POST","url":"https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":false,"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: -1003872092456, text: $json.text, disable_web_page_preview: true }) }}","options":{"timeout":120000},"infoMessage":""},"id":"send-telegram","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-128]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const meta = $('Build Digest').first().json;\nconst rowIds = Array.isArray(meta.rowIds) ? meta.rowIds : [];\nconst rowIdsSql = rowIds.length > 0 ? rowIds.join(',') : '-1';\nconst summaryEscaped = (meta.summaryText || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    rowIdsSql,\n    summaryEscaped\n  }\n}];","notice":""},"id":"collapse-chunks","name":"Collapse Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-128]},{"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE processed_files SET summary_text = '{{ $json.summaryEscaped }}', summary_sent = true WHERE id IN ({{ $json.rowIdsSql }})","options":{}},"id":"mark-summary-sent","name":"Mark Summary Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1984,-128],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}}],"connections":{"Daily 23:00":{"main":[[{"node":"Load Today's Transcripts","type":"main","index":0}]]},"Load Today's Transcripts":{"main":[[{"node":"Aggregate Transcripts","type":"main","index":0}]]},"Aggregate Transcripts":{"main":[[{"node":"Has Data?","type":"main","index":0}]]},"Has Data?":{"main":[[{"node":"GLM-4 Summarize","type":"main","index":0}],[]]},"GLM-4 Summarize":{"main":[[{"node":"Build Digest","type":"main","index":0}]]},"Build Digest":{"main":[[{"node":"Chunk for Telegram","type":"main","index":0}]]},"Chunk for Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Collapse Chunks","type":"main","index":0}]]},"Collapse Chunks":{"main":[[{"node":"Mark Summary Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"pinData":{}},"customData":{}}}