exec_202.json
{"data":{"id":"202","finished":true,"mode":"trigger","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-18T20:10:00.062Z","startedAt":"2026-02-18T20:10:00.276Z","stoppedAt":"2026-02-18T20:10:00.387Z","deletedAt":null,"workflowId":"ZCtnggR6qrPy7bS6","waitTill":null,"storedAt":"db","data":"[{\"version\":1,\"startData\":\"1\",\"resultData\":\"2\",\"executionData\":\"3\"},{},{\"runData\":\"4\",\"lastNodeExecuted\":\"5\"},{\"contextData\":\"6\",\"nodeExecutionStack\":\"7\",\"metadata\":\"8\",\"waitingExecution\":\"9\",\"waitingExecutionSource\":\"10\",\"runtimeData\":\"11\"},{\"Every 5 min\":\"12\",\"List Recording Files\":\"13\",\"Parse Filenames & LEAD_ID\":\"14\",\"Check If Already Processed\":\"15\",\"Is New File?\":\"16\"},\"Is New File?\",{},[],{},{},{},{\"version\":1,\"establishedAt\":1771445400293,\"source\":\"17\",\"triggerNode\":\"18\"},[\"19\"],[\"20\"],[\"21\"],[\"22\"],[\"23\"],\"trigger\",{\"name\":\"24\",\"type\":\"25\"},{\"startTime\":1771445400294,\"executionIndex\":0,\"source\":\"26\",\"hints\":\"27\",\"executionTime\":0,\"executionStatus\":\"28\",\"data\":\"29\"},{\"startTime\":1771445400294,\"executionIndex\":1,\"source\":\"30\",\"hints\":\"31\",\"executionTime\":18,\"executionStatus\":\"28\",\"data\":\"32\"},{\"startTime\":1771445400313,\"executionIndex\":2,\"source\":\"33\",\"hints\":\"34\",\"executionTime\":42,\"executionStatus\":\"28\",\"data\":\"35\"},{\"startTime\":1771445400356,\"executionIndex\":3,\"source\":\"36\",\"hints\":\"37\",\"executionTime\":26,\"executionStatus\":\"28\",\"data\":\"38\"},{\"startTime\":1771445400383,\"executionIndex\":4,\"source\":\"39\",\"hints\":\"40\",\"executionTime\":4,\"executionStatus\":\"28\",\"data\":\"41\"},\"Every 5 min\",\"n8n-nodes-base.scheduleTrigger\",[],[],\"success\",{\"main\":\"42\"},[\"43\"],[],{\"main\":\"44\"},[\"45\"],[],{\"main\":\"46\"},[\"47\"],[],{\"main\":\"48\"},[\"49\"],[],{\"main\":\"50\"},[\"51\"],{\"previousNode\":\"24\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"52\"],{\"previousNode\":\"53\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"54\"],{\"previousNode\":\"55\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"56\"],{\"previousNode\":\"57\",\"previousNodeOutput\":0,\"previousNodeRun\":0},[\"58\",\"59\"],[\"60\"],[\"61\"],\"List Recording Files\",[\"62\",\"63\",\"64\",\"65\"],\"Parse Filenames & LEAD_ID\",[\"66\",\"67\",\"68\",\"69\"],\"Check If Already Processed\",[],[\"70\",\"71\",\"72\",\"73\"],{\"json\":\"74\",\"pairedItem\":\"75\"},{\"json\":\"76\",\"pairedItem\":\"77\"},{\"json\":\"78\",\"pairedItem\":\"79\"},{\"json\":\"80\",\"pairedItem\":\"81\"},{\"json\":\"82\",\"pairedItem\":\"83\"},{\"json\":\"84\",\"pairedItem\":\"85\"},{\"json\":\"86\",\"pairedItem\":\"87\"},{\"json\":\"88\",\"pairedItem\":\"89\"},{\"json\":\"90\",\"pairedItem\":\"91\"},{\"json\":\"92\",\"pairedItem\":\"93\"},{\"json\":\"86\",\"pairedItem\":\"94\"},{\"json\":\"88\",\"pairedItem\":\"95\"},{\"json\":\"90\",\"pairedItem\":\"96\"},{\"json\":\"92\",\"pairedItem\":\"97\"},{\"timestamp\":\"98\",\"Readable date\":\"99\",\"Readable time\":\"100\",\"Day of week\":\"101\",\"Year\":\"102\",\"Month\":\"103\",\"Day of month\":\"104\",\"Hour\":\"105\",\"Minute\":\"106\",\"Second\":\"107\",\"Timezone\":\"108\"},{\"item\":0},{\"exitCode\":0,\"stderr\":\"109\",\"stdout\":\"110\"},{\"item\":0},{\"filepath\":\"111\",\"filename\":\"112\",\"leadId\":\"113\",\"fileDate\":\"114\"},{\"item\":0},{\"filepath\":\"115\",\"filename\":\"116\",\"leadId\":\"117\",\"fileDate\":\"114\"},{\"item\":0},{\"filepath\":\"118\",\"filename\":\"119\",\"leadId\":\"120\",\"fileDate\":\"114\"},{\"item\":0},{\"filepath\":\"121\",\"filename\":\"122\",\"leadId\":\"123\",\"fileDate\":\"114\"},{\"item\":0},{\"count\":1},{\"item\":0},{\"count\":1},{\"item\":1},{\"count\":1},{\"item\":2},{\"count\":1},{\"item\":3},{\"item\":0},{\"item\":1},{\"item\":2},{\"item\":3},\"2026-02-18T23:10:00.061+03:00\",\"February 18th 2026, 11:10:00 pm\",\"11:10:00 pm\",\"Wednesday\",\"2026\",\"February\",\"18\",\"23\",\"10\",\"00\",\"Europe/Moscow (UTC+03:00)\",\"\",\"/recordings/2026/02/18/55555_2026-02-18_18-44.wav\\n/recordings/2026/02/18/77777_2026-02-18_17-30.wav\\n/recordings/2026/02/18/12345_2026-02-18_15-00.wav\\n/recordings/2026/02/18/99999_2026-02-18_14-30.wav\",\"/recordings/2026/02/18/55555_2026-02-18_18-44.wav\",\"55555_2026-02-18_18-44.wav\",\"55555\",\"2026-02-18\",\"/recordings/2026/02/18/77777_2026-02-18_17-30.wav\",\"77777_2026-02-18_17-30.wav\",\"77777\",\"/recordings/2026/02/18/12345_2026-02-18_15-00.wav\",\"12345_2026-02-18_15-00.wav\",\"12345\",\"/recordings/2026/02/18/99999_2026-02-18_14-30.wav\",\"99999_2026-02-18_14-30.wav\",\"99999\"]","workflowData":{"id":"ZCtnggR6qrPy7bS6","name":"01 New Recording v3 FINAL","active":true,"activeVersionId":"b1d75b86-0901-40c0-bb55-c2722b22ab31","isArchived":false,"createdAt":"2026-02-18T14:48:53.802Z","updatedAt":"2026-02-18T14:48:53.802Z","nodes":[{"parameters":{"notice":"","rule":{"interval":[{"field":"cronExpression","notice":"","expression":"*/5 * * * *"}]}},"id":"schedule-trigger","name":"Every 5 min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"executeOnce":true,"command":"find /recordings -type f \\( -name '*.webm' -o -name '*.mp3' -o -name '*.ogg' -o -name '*.wav' \\) -exec stat -c '%Y %n' {} \\; 2>/dev/null | sort -rn | head -50 | cut -d' ' -f2-"},"id":"list-files","name":"List Recording Files","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[220,0]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const stdout = $input.first().json.stdout || '';\nconst files = stdout.trim().split('\\n').filter(f => f.length > 0);\n\nconst items = files.map(filepath => {\n  const filename = filepath.split('/').pop();\n  const match = filename.match(/^(\\d+)_/);\n  const leadId = match ? match[1] : null;\n  const dateMatch = filename.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const fileDate = dateMatch ? dateMatch[1] : new Date().toISOString().slice(0, 10);\n  \n  return {\n    json: {\n      filepath,\n      filename,\n      leadId,\n      fileDate\n    }\n  };\n}).filter(item => item.json.leadId !== null);\n\nif (items.length === 0) {\n  return [{ json: { _noFiles: true } }];\n}\n\nreturn items;","notice":""},"id":"parse-files","name":"Parse Filenames & LEAD_ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"no-files-check","leftValue":"={{ $json._noFiles }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"if-has-files","name":"Has Files?","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,0]},{"parameters":{"resource":"database","operation":"executeQuery","query":"SELECT COUNT(*)::integer as count FROM processed_files WHERE filename = '{{ $json.filename }}'","options":{}},"id":"check-processed","name":"Check If Already Processed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,-100],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"not-processed","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-new-file","name":"Is New File?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1100,-100]},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO processed_files (filename, filepath, lead_id, file_date, status) VALUES ('{{ $('Parse Filenames & LEAD_ID').item.json.filename }}', '{{ $('Parse Filenames & LEAD_ID').item.json.filepath }}', '{{ $('Parse Filenames & LEAD_ID').item.json.leadId }}', '{{ $('Parse Filenames & LEAD_ID').item.json.fileDate }}', 'transcribing') ON CONFLICT (filename) DO NOTHING RETURNING id","options":{}},"id":"insert-processing","name":"Mark as Transcribing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1320,-200],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"executeOnce":true,"command":"={{ \"curl -sS -X POST 'http://whisper:9000/asr?task=transcribe&language=ru&output=json' -F \\\"audio_file=@\" + $('Parse Filenames & LEAD_ID').item.json.filepath + \"\\\" 2>&1\" }}"},"id":"whisper-transcribe","name":"Whisper Transcribe","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1540,-200],"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const stdout = $input.first().json.stdout || '';\ntry {\n  const parsed = JSON.parse(stdout.trim());\n  return [{ json: { text: parsed.text || '', _raw: stdout } }];\n} catch(e) {\n  return [{ json: { text: '', _raw: stdout, _parseError: e.message } }];\n}","notice":""},"id":"parse-whisper","name":"Parse Whisper JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,-200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-text","leftValue":"={{ $json.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"if-has-transcript","name":"Has Transcript?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1860,-200]},{"parameters":{"executeOnce":true,"command":"cat '{{ $('Parse Filenames & LEAD_ID').item.json.filepath }}' | base64"},"id":"read-audio-file","name":"Read Audio File","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1320,-50],"disabled":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const transcript = $input.first().json.text || '';\nconst leadId = $('Parse Filenames & LEAD_ID').first().json.leadId;\nconst filename = $('Parse Filenames & LEAD_ID').first().json.filename;\nconst fileDate = $('Parse Filenames & LEAD_ID').first().json.fileDate;\n\nreturn [{\n  json: {\n    transcript: transcript.trim(),\n    leadId,\n    filename,\n    fileDate,\n    notebookName: 'LEAD-' + leadId,\n    sourceTitle: 'Meeting ' + fileDate\n  }\n}];","notice":""},"id":"extract-transcript","name":"Extract Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-200]},{"parameters":{"curlImport":"","method":"GET","url":"={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/notebooks' }}","authentication":"none","provideSslCertificates":false,"sendQuery":true,"specifyQuery":"keypair","queryParameters":{"parameters":[{"name":"archived","value":"false"}]},"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"}]},"sendBody":false,"options":{},"infoMessage":""},"id":"get-notebooks","name":"Get Notebooks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,-200],"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const notebooks = $input.first().json.items || $input.first().json || [];\nconst notebookName = $('Extract Transcript').first().json.notebookName;\n\nconst existing = (Array.isArray(notebooks) ? notebooks : []).find(\n  nb => nb.name === notebookName\n);\n\nreturn [{\n  json: {\n    notebookId: existing ? existing.id : null,\n    notebookExists: !!existing,\n    notebookName\n  }\n}];","notice":""},"id":"find-notebook","name":"Find Client Notebook","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,-200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"notebook-exists","leftValue":"={{ $json.notebookExists }}","rightValue":true,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}},"id":"if-notebook-exists","name":"Notebook Exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2420,-200]},{"parameters":{"curlImport":"","method":"POST","url":"={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/notebooks' }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $('Extract Transcript').first().json.notebookName, description: 'Client meetings for ' + $('Extract Transcript').first().json.notebookName }) }}","options":{},"infoMessage":""},"id":"create-notebook","name":"Create Notebook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-300],"continueOnFail":true},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"let notebookId;\n\n// Check if we created a new notebook or used existing\nconst createResult = $('Create Notebook');\nconst findResult = $('Find Client Notebook').first().json;\n\nif (findResult.notebookId) {\n  notebookId = findResult.notebookId;\n} else {\n  const created = $input.first().json;\n  notebookId = created.id || created.notebook_id;\n}\n\nreturn [{ json: { notebookId } }];","notice":""},"id":"get-notebook-id","name":"Get Notebook ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[2860,-200]},{"parameters":{"curlImport":"","method":"POST","url":"={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/sources' }}","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ type: 'text', text: $('Extract Transcript').first().json.transcript, notebook_ids: [$json.notebookId], title: $('Extract Transcript').first().json.sourceTitle }) }}","options":{},"infoMessage":""},"id":"save-source","name":"Save Transcript to Notebook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3080,-200],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"save-ok","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-save-ok","name":"Save Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3300,-200]},{"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE processed_files SET status = 'completed', transcript_text = $1, notebook_id = $2, source_id = $3, completed_at = NOW() WHERE filename = $4","options":{"queryReplacement":"={{ $('Extract Transcript').first().json.transcript }}||={{ $('Get Notebook ID').first().json.notebookId }}||={{ $json.id || '' }}||={{ $('Extract Transcript').first().json.filename }}"}},"id":"mark-completed","name":"Mark Completed","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3520,-200],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE processed_files SET status = 'error', error_message = 'open-notebook error: ' || COALESCE($json.error, $json.message, 'Unknown') WHERE filename = '{{ $('Extract Transcript').first().json.filename }}'","options":{}},"id":"mark-notebook-error","name":"Mark Notebook Error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3520,100],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"resource":"database","operation":"executeQuery","query":"UPDATE processed_files SET status = 'error', error_message = '{{ ($json.error && $json.error.message) ? $json.error.message : ($json.message || $json.error || \"Unknown error\") }}', retry_count = retry_count + 1 WHERE filename = '{{ $('Parse Filenames & LEAD_ID').item.json.filename }}'","options":{}},"id":"mark-error","name":"Mark Error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1760,100],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}}],"connections":{"Every 5 min":{"main":[[{"node":"List Recording Files","type":"main","index":0}]]},"List Recording Files":{"main":[[{"node":"Parse Filenames & LEAD_ID","type":"main","index":0}]]},"Parse Filenames & LEAD_ID":{"main":[[{"node":"Check If Already Processed","type":"main","index":0}]]},"Check If Already Processed":{"main":[[{"node":"Is New File?","type":"main","index":0}]]},"Is New File?":{"main":[[{"node":"Mark as Transcribing","type":"main","index":0}],[]]},"Mark as Transcribing":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Parse Whisper JSON","type":"main","index":0}]]},"Parse Whisper JSON":{"main":[[{"node":"Has Transcript?","type":"main","index":0}]]},"Has Transcript?":{"main":[[{"node":"Extract Transcript","type":"main","index":0}],[{"node":"Mark Error","type":"main","index":0}]]},"Extract Transcript":{"main":[[{"node":"Get Notebooks","type":"main","index":0}]]},"Get Notebooks":{"main":[[{"node":"Find Client Notebook","type":"main","index":0}]]},"Find Client Notebook":{"main":[[{"node":"Notebook Exists?","type":"main","index":0}]]},"Notebook Exists?":{"main":[[{"node":"Create Notebook","type":"main","index":0}],[{"node":"Get Notebook ID","type":"main","index":0}]]},"Create Notebook":{"main":[[{"node":"Get Notebook ID","type":"main","index":0}]]},"Get Notebook ID":{"main":[[{"node":"Save Transcript to Notebook","type":"main","index":0}]]},"Save Transcript to Notebook":{"main":[[{"node":"Save Success?","type":"main","index":0}]]},"Save Success?":{"main":[[{"node":"Mark Completed","type":"main","index":0}],[{"node":"Mark Notebook Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 5 min":{"recurrenceRules":[]}},"pinData":null},"customData":{}}}