wf02_full.json
{"data":{"updatedAt":"2026-02-18T20:06:35.126Z","createdAt":"2026-02-18T13:15:15.073Z","id":"8DhaAk6JDxfqkRWW","name":"02 — Daily Digest → GLM-4 → Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}},"id":"daily-trigger","name":"Daily 23:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT id, lead_id, transcript_text FROM v_today_completed WHERE summary_sent = false AND transcript_text IS NOT NULL","options":{}},"id":"load-today","name":"Load Today's Transcripts","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[224,0],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { hasData: false } }];\n}\n\nconst dateLabel = new Date().toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow' });\nconst MAX_CHARS = 50000;\nconst sections = [];\nlet totalLen = 0;\nlet truncated = false;\n\nfor (const item of items) {\n  const leadId = item.json.lead_id || 'unknown';\n  const transcript = item.json.transcript_text || '';\n  const section = `LEAD-${leadId}:\\n${transcript}`;\n  \n  if (totalLen + section.length > MAX_CHARS) {\n    truncated = true;\n    break;\n  }\n  sections.push(section);\n  totalLen += section.length;\n}\n\nconst combined = sections.join('\\n\\n---\\n\\n') + (truncated ? '\\n\\n[...обрезано, слишком много текста за день...]' : '');\nconst rowIds = items.slice(0, sections.length).map((item) => item.json.id);\nconst leadIds = Array.from(new Set(items.slice(0, sections.length).map((item) => item.json.lead_id).filter((v) => v !== null && v !== undefined)));\n\nreturn [{\n  json: {\n    hasData: true,\n    dateLabel,\n    combined,\n    rowIds,\n    leadIds,\n    count: sections.length,\n    truncated\n  }\n}];"},"id":"aggregate-transcripts","name":"Aggregate Transcripts","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-data","leftValue":"={{ $json.combined }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"if-has-data","name":"Has Data?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,0]},{"parameters":{"method":"POST","url":"https://open.bigmodel.cn/api/paas/v4/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fda5cc088ab04a1a92d5966b373e81a3.rfUescuUieAO78M6"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'glm-4.7-flash', messages: [ { role: 'system', content: 'Ты бизнес-аналитик. Сформируй ежедневный дайджест по стенограммам встреч. Формат: 1) Краткое резюме дня (3-5 предложений). 2) Ключевые договоренности (буллеты). 3) Action items (буллеты с ответственным, если есть). 4) Риски/блокеры (буллеты или Нет). 5) Клиенты/LEAD: перечисли LEAD-ID, по каждому 1-2 ключевых пункта. Ограничение: до 3500 символов.' }, { role: 'user', content: $json.combined } ], temperature: 0.2, max_tokens: 1400, stream: false }) }}","options":{"timeout":180000}},"id":"glm-summarize","name":"GLM-4 Summarize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-128]},{"parameters":{"jsCode":"const meta = $('Aggregate Transcripts').first().json;\nconst content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : '';\nconst summaryText = content.trim() || 'Сводка не получена.';\nconst leadList = Array.isArray(meta.leadIds) && meta.leadIds.length > 0 ? meta.leadIds.map((id) => `LEAD-${id}`).join(', ') : '—';\nconst header = `Ежедневный дайджест за ${meta.dateLabel}\\nВстреч: ${meta.count}\\nКлиенты: ${leadList}`;\nconst digest = `${header}\\n\\n${summaryText}`.trim();\n\nreturn [{\n  json: {\n    digest,\n    summaryText,\n    rowIds: meta.rowIds\n  }\n}];"},"id":"build-digest","name":"Build Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-128]},{"parameters":{"jsCode":"const text = $json.digest || '';\nconst max = 3500;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += max) {\n  chunks.push(text.slice(i, i + max));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunks.length > 1 ? `${chunk}\\n\\n(часть ${index + 1}/${chunks.length})` : chunk,\n    part: index + 1,\n    total: chunks.length\n  }\n}));"},"id":"chunk-telegram","name":"Chunk for Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-128]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: -1003872092456, text: $json.text, disable_web_page_preview: true }) }}","options":{"timeout":120000}},"id":"send-telegram","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-128]},{"parameters":{"jsCode":"const meta = $('Build Digest').first().json;\nconst rowIds = Array.isArray(meta.rowIds) ? meta.rowIds : [];\nconst rowIdsSql = rowIds.length > 0 ? rowIds.join(',') : '-1';\nconst summaryEscaped = (meta.summaryText || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    rowIdsSql,\n    summaryEscaped\n  }\n}];"},"id":"collapse-chunks","name":"Collapse Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-128]},{"parameters":{"operation":"executeQuery","query":"UPDATE processed_files SET summary_text = '{{ $json.summaryEscaped }}', summary_sent = true WHERE id IN ({{ $json.rowIdsSql }})","options":{}},"id":"mark-summary-sent","name":"Mark Summary Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1984,-128],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}}],"connections":{"Daily 23:00":{"main":[[{"node":"Load Today's Transcripts","type":"main","index":0}]]},"Load Today's Transcripts":{"main":[[{"node":"Aggregate Transcripts","type":"main","index":0}]]},"Aggregate Transcripts":{"main":[[{"node":"Has Data?","type":"main","index":0}]]},"Has Data?":{"main":[[{"node":"GLM-4 Summarize","type":"main","index":0}],[]]},"GLM-4 Summarize":{"main":[[{"node":"Build Digest","type":"main","index":0}]]},"Build Digest":{"main":[[{"node":"Chunk for Telegram","type":"main","index":0}]]},"Chunk for Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Collapse Chunks","type":"main","index":0}]]},"Collapse Chunks":{"main":[[{"node":"Mark Summary Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Moscow","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Daily 23:00":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"bd48ea4f-b21f-464c-8e45-247c90c7b870","activeVersionId":"a4ef5eae-4fde-44a6-9503-b825d32d873f","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-02-18T13:15:15.073Z","createdAt":"2026-02-18T13:15:15.073Z","role":"workflow:owner","workflowId":"8DhaAk6JDxfqkRWW","projectId":"hRmV8CqX2TexPAjX","project":{"updatedAt":"2026-02-18T19:12:22.844Z","createdAt":"2026-02-18T11:42:57.274Z","id":"hRmV8CqX2TexPAjX","name":"Admin User <rod@zevich.ru>","type":"personal","icon":null,"description":null,"creatorId":"79ef4deb-7d69-428b-9e33-a35ff77f3c5c"}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-02-18T13:15:15.115Z","createdAt":"2026-02-18T13:15:15.115Z","versionId":"a4ef5eae-4fde-44a6-9503-b825d32d873f","workflowId":"8DhaAk6JDxfqkRWW","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}},"id":"daily-trigger","name":"Daily 23:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT id, lead_id, transcript_text FROM v_today_completed WHERE summary_sent = false AND transcript_text IS NOT NULL","options":{}},"id":"load-today","name":"Load Today's Transcripts","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[220,0],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { hasData: false } }];\n}\n\nconst dateLabel = new Date().toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow' });\nconst MAX_CHARS = 50000;\nconst sections = [];\nlet totalLen = 0;\nlet truncated = false;\n\nfor (const item of items) {\n  const leadId = item.json.lead_id || 'unknown';\n  const transcript = item.json.transcript_text || '';\n  const section = `LEAD-${leadId}:\\n${transcript}`;\n  \n  if (totalLen + section.length > MAX_CHARS) {\n    truncated = true;\n    break;\n  }\n  sections.push(section);\n  totalLen += section.length;\n}\n\nconst combined = sections.join('\\n\\n---\\n\\n') + (truncated ? '\\n\\n[...обрезано, слишком много текста за день...]' : '');\nconst rowIds = items.slice(0, sections.length).map((item) => item.json.id);\nconst leadIds = Array.from(new Set(items.slice(0, sections.length).map((item) => item.json.lead_id).filter((v) => v !== null && v !== undefined)));\n\nreturn [{\n  json: {\n    hasData: true,\n    dateLabel,\n    combined,\n    rowIds,\n    leadIds,\n    count: sections.length,\n    truncated\n  }\n}];"},"id":"aggregate-transcripts","name":"Aggregate Transcripts","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-data","leftValue":"={{ $json.combined }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"id":"if-has-data","name":"Has Data?","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,0]},{"parameters":{"method":"POST","url":"={{ ($env.GLM4_BASE_URL || 'https://api.z.ai/api/paas/v4') + '/chat/completions' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: $env.GLM4_MODEL || 'glm-4.7-flashx', messages: [ { role: 'system', content: 'Ты бизнес-аналитик. Сформируй ежедневный дайджест по стенограммам встреч. Формат: 1) Краткое резюме дня (3-5 предложений). 2) Ключевые договоренности (буллеты). 3) Action items (буллеты с ответственным, если есть). 4) Риски/блокеры (буллеты или Нет). 5) Клиенты/LEAD: перечисли LEAD-ID, по каждому 1-2 ключевых пункта. Ограничение: до 3500 символов.' }, { role: 'user', content: $json.combined } ], temperature: 0.2, max_tokens: 1400, stream: false }) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $env.GLM4_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":180000}},"id":"glm-summarize","name":"GLM-4 Summarize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-120]},{"parameters":{"jsCode":"const meta = $('Aggregate Transcripts').first().json;\nconst content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : '';\nconst summaryText = content.trim() || 'Сводка не получена.';\nconst leadList = Array.isArray(meta.leadIds) && meta.leadIds.length > 0 ? meta.leadIds.map((id) => `LEAD-${id}`).join(', ') : '—';\nconst header = `Ежедневный дайджест за ${meta.dateLabel}\\nВстреч: ${meta.count}\\nКлиенты: ${leadList}`;\nconst digest = `${header}\\n\\n${summaryText}`.trim();\n\nreturn [{\n  json: {\n    digest,\n    summaryText,\n    rowIds: meta.rowIds\n  }\n}];"},"id":"build-digest","name":"Build Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-120]},{"parameters":{"jsCode":"const text = $json.digest || '';\nconst max = 3500;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += max) {\n  chunks.push(text.slice(i, i + max));\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunks.length > 1 ? `${chunk}\\n\\n(часть ${index + 1}/${chunks.length})` : chunk,\n    part: index + 1,\n    total: chunks.length\n  }\n}));"},"id":"chunk-telegram","name":"Chunk for Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,-120]},{"parameters":{"method":"POST","url":"={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text, disable_web_page_preview: true }) }}","options":{"timeout":120000}},"id":"send-telegram","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,-120]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const meta = $('Build Digest').first().json;\nconst rowIds = Array.isArray(meta.rowIds) ? meta.rowIds : [];\nconst rowIdsSql = rowIds.length > 0 ? rowIds.join(',') : '-1';\nconst summaryEscaped = (meta.summaryText || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    rowIdsSql,\n    summaryEscaped\n  }\n}];"},"id":"collapse-chunks","name":"Collapse Chunks","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,-120]},{"parameters":{"operation":"executeQuery","query":"UPDATE processed_files SET summary_text = '{{ $json.summaryEscaped }}', summary_sent = true WHERE id IN ({{ $json.rowIdsSql }})","options":{}},"id":"mark-summary-sent","name":"Mark Summary Sent","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1980,-120],"credentials":{"postgres":{"id":"F3beGLVPdqgBpqlv","name":"PostgreSQL"}}}],"connections":{"Daily 23:00":{"main":[[{"node":"Load Today's Transcripts","type":"main","index":0}]]},"Load Today's Transcripts":{"main":[[{"node":"Aggregate Transcripts","type":"main","index":0}]]},"Aggregate Transcripts":{"main":[[{"node":"Has Data?","type":"main","index":0}]]},"Has Data?":{"main":[[{"node":"GLM-4 Summarize","type":"main","index":0}],[]]},"GLM-4 Summarize":{"main":[[{"node":"Build Digest","type":"main","index":0}]]},"Build Digest":{"main":[[{"node":"Chunk for Telegram","type":"main","index":0}]]},"Chunk for Telegram":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Send Telegram":{"main":[[{"node":"Collapse Chunks","type":"main","index":0}]]},"Collapse Chunks":{"main":[[{"node":"Mark Summary Sent","type":"main","index":0}]]}},"authors":"Evgenii Rodzevich","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-18T13:15:45.973Z","id":2,"workflowId":"8DhaAk6JDxfqkRWW","versionId":"a4ef5eae-4fde-44a6-9503-b825d32d873f","event":"activated","userId":"79ef4deb-7d69-428b-9e33-a35ff77f3c5c"},{"createdAt":"2026-02-18T14:11:00.993Z","id":9,"workflowId":"8DhaAk6JDxfqkRWW","versionId":"a4ef5eae-4fde-44a6-9503-b825d32d873f","event":"deactivated","userId":"79ef4deb-7d69-428b-9e33-a35ff77f3c5c"},{"createdAt":"2026-02-18T14:11:01.091Z","id":10,"workflowId":"8DhaAk6JDxfqkRWW","versionId":"a4ef5eae-4fde-44a6-9503-b825d32d873f","event":"activated","userId":"79ef4deb-7d69-428b-9e33-a35ff77f3c5c"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:unpublish","workflow:update"],"checksum":"0f2f6d4f38e354f93a8c04a62d17bf66e267a873d704881550afe56e24e8f9ef"}}