n8n-workflows/01-new-recording.json
{
  "name": "01 — New Recording → Whisper → open-notebook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/5 * * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "command": "find /recordings -type f \\( -name '*.webm' -o -name '*.mp3' -o -name '*.ogg' -o -name '*.wav' \\) -exec stat -c '%Y %n' {} \\; 2>/dev/null | sort -rn | head -50 | cut -d' ' -f2-"
      },
      "id": "list-files",
      "name": "List Recording Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst files = stdout.trim().split('\\n').filter(f => f.length > 0);\n\nconst items = files.map(filepath => {\n  const filename = filepath.split('/').pop();\n  const match = filename.match(/^(\\d+)_/);\n  const leadId = match ? match[1] : null;\n  const dateMatch = filename.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const fileDate = dateMatch ? dateMatch[1] : new Date().toISOString().slice(0, 10);\n  \n  return {\n    json: {\n      filepath,\n      filename,\n      leadId,\n      fileDate\n    }\n  };\n}).filter(item => item.json.leadId !== null);\n\nif (items.length === 0) {\n  return [{ json: { _noFiles: true } }];\n}\n\nreturn items;"
      },
      "id": "parse-files",
      "name": "Parse Filenames & LEAD_ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "no-files-check",
              "leftValue": "={{ $json._noFiles }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-files",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::integer as count FROM processed_files WHERE filename = '{{ $json.filename }}'",
        "options": {}
      },
      "id": "check-processed",
      "name": "Check If Already Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, -100],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "not-processed",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-new-file",
      "name": "Is New File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_files (filename, filepath, lead_id, file_date, status) VALUES ('{{ $('Parse Filenames & LEAD_ID').item.json.filename }}', '{{ $('Parse Filenames & LEAD_ID').item.json.filepath }}', '{{ $('Parse Filenames & LEAD_ID').item.json.leadId }}', '{{ $('Parse Filenames & LEAD_ID').item.json.fileDate }}', 'transcribing') ON CONFLICT (filename) DO NOTHING RETURNING id",
        "options": {}
      },
      "id": "insert-processing",
      "name": "Mark as Transcribing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, -200],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "command": "={{ \"curl -sS -X POST 'http://whisper:9000/asr?task=transcribe&language=ru&output=json' -F \\\"audio_file=@\" + $('Parse Filenames & LEAD_ID').item.json.filepath + \"\\\" 2>&1\" }}"
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1540, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\ntry {\n  const parsed = JSON.parse(stdout.trim());\n  return [{ json: { text: parsed.text || '', _raw: stdout } }];\n} catch(e) {\n  return [{ json: { text: '', _raw: stdout, _parseError: e.message } }];\n}"
      },
      "id": "parse-whisper",
      "name": "Parse Whisper JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1860, -200]
    },
    {
      "parameters": {
        "command": "cat '{{ $('Parse Filenames & LEAD_ID').item.json.filepath }}' | base64"
      },
      "id": "read-audio-file",
      "name": "Read Audio File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1320, -50],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json.text || '';\nconst leadId = $('Parse Filenames & LEAD_ID').first().json.leadId;\nconst filename = $('Parse Filenames & LEAD_ID').first().json.filename;\nconst fileDate = $('Parse Filenames & LEAD_ID').first().json.fileDate;\n\nreturn [{\n  json: {\n    transcript: transcript.trim(),\n    leadId,\n    filename,\n    fileDate,\n    notebookName: 'LEAD-' + leadId,\n    sourceTitle: 'Meeting ' + fileDate\n  }\n}];"
      },
      "id": "extract-transcript",
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/notebooks' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "archived", "value": "false" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-notebooks",
      "name": "Get Notebooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const notebooks = $input.first().json.items || $input.first().json || [];\nconst notebookName = $('Extract Transcript').first().json.notebookName;\n\nconst existing = (Array.isArray(notebooks) ? notebooks : []).find(\n  nb => nb.name === notebookName\n);\n\nreturn [{\n  json: {\n    notebookId: existing ? existing.id : null,\n    notebookExists: !!existing,\n    notebookName\n  }\n}];"
      },
      "id": "find-notebook",
      "name": "Find Client Notebook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "notebook-exists",
              "leftValue": "={{ $json.notebookExists }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "false" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-notebook-exists",
      "name": "Notebook Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/notebooks' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Extract Transcript').first().json.notebookName, description: 'Client meetings for ' + $('Extract Transcript').first().json.notebookName }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notebook",
      "name": "Create Notebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, -300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let notebookId;\n\n// Check if we created a new notebook or used existing\nconst createResult = $('Create Notebook');\nconst findResult = $('Find Client Notebook').first().json;\n\nif (findResult.notebookId) {\n  notebookId = findResult.notebookId;\n} else {\n  const created = $input.first().json;\n  notebookId = created.id || created.notebook_id;\n}\n\nreturn [{ json: { notebookId } }];"
      },
      "id": "get-notebook-id",
      "name": "Get Notebook ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.OPEN_NOTEBOOK_URL || 'http://open-notebook:8888') + '/sources' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'text', text: $('Extract Transcript').first().json.transcript, notebook_ids: [$json.notebookId], title: $('Extract Transcript').first().json.sourceTitle }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.OPEN_NOTEBOOK_TOKEN || 'password') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-source",
      "name": "Save Transcript to Notebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "save-ok",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-save-ok",
      "name": "Save Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3300, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET status = 'completed', transcript_text = $1, notebook_id = $2, source_id = $3, completed_at = NOW() WHERE filename = $4",
        "options": {
          "queryReplacement": "={{ $('Extract Transcript').first().json.transcript }}||={{ $('Get Notebook ID').first().json.notebookId }}||={{ $json.id || '' }}||={{ $('Extract Transcript').first().json.filename }}"
        }
      },
      "id": "mark-completed",
      "name": "Mark Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3520, -200],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET status = 'error', error_message = 'open-notebook error: ' || COALESCE($json.error, $json.message, 'Unknown') WHERE filename = '{{ $('Extract Transcript').first().json.filename }}'",
        "options": {}
      },
      "id": "mark-notebook-error",
      "name": "Mark Notebook Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3520, 100],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET status = 'error', error_message = '{{ ($json.error && $json.error.message) ? $json.error.message : ($json.message || $json.error || \"Unknown error\") }}', retry_count = retry_count + 1 WHERE filename = '{{ $('Parse Filenames & LEAD_ID').item.json.filename }}'",
        "options": {}
      },
      "id": "mark-error",
      "name": "Mark Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1760, 100],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    }
  ],
  "connections": {
    "Every 5 min": { "main": [[{ "node": "List Recording Files", "type": "main", "index": 0 }]] },
    "List Recording Files": { "main": [[{ "node": "Parse Filenames & LEAD_ID", "type": "main", "index": 0 }]] },
    "Parse Filenames & LEAD_ID": { "main": [[{ "node": "Check If Already Processed", "type": "main", "index": 0 }]] },
    "Check If Already Processed": { "main": [[{ "node": "Is New File?", "type": "main", "index": 0 }]] },
    "Is New File?": { "main": [[{ "node": "Mark as Transcribing", "type": "main", "index": 0 }], []] },
    "Mark as Transcribing": { "main": [[{ "node": "Whisper Transcribe", "type": "main", "index": 0 }]] },
    "Whisper Transcribe": { "main": [[{ "node": "Parse Whisper JSON", "type": "main", "index": 0 }]] },
    "Parse Whisper JSON": { "main": [[{ "node": "Has Transcript?", "type": "main", "index": 0 }]] },
    "Has Transcript?": { "main": [[{ "node": "Extract Transcript", "type": "main", "index": 0 }], [{ "node": "Mark Error", "type": "main", "index": 0 }]] },
    "Extract Transcript": { "main": [[{ "node": "Get Notebooks", "type": "main", "index": 0 }]] },
    "Get Notebooks": { "main": [[{ "node": "Find Client Notebook", "type": "main", "index": 0 }]] },
    "Find Client Notebook": { "main": [[{ "node": "Notebook Exists?", "type": "main", "index": 0 }]] },
    "Notebook Exists?": { "main": [[{ "node": "Create Notebook", "type": "main", "index": 0 }], [{ "node": "Get Notebook ID", "type": "main", "index": 0 }]] },
    "Create Notebook": { "main": [[{ "node": "Get Notebook ID", "type": "main", "index": 0 }]] },
    "Get Notebook ID": { "main": [[{ "node": "Save Transcript to Notebook", "type": "main", "index": 0 }]] },
    "Save Transcript to Notebook": { "main": [[{ "node": "Save Success?", "type": "main", "index": 0 }]] },
    "Save Success?": { "main": [[{ "node": "Mark Completed", "type": "main", "index": 0 }], [{ "node": "Mark Notebook Error", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  },
  "staticData": null,
  "tags": [{ "name": "MVP Auto-Summary" }],
  "triggerCount": 1
}
