n8n-workflows/01-new-recording.json
{
  "name": "01 New Recording → SpeechKit → PostgreSQL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/5 * * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "command": "find /recordings -type f \\( -name '*.webm' -o -name '*.mp3' -o -name '*.ogg' -o -name '*.wav' \\) -exec stat -c '%s %n' {} \\; 2>/dev/null | head -50"
      },
      "id": "list-files",
      "name": "List Recording Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || '';\nconst lines = stdout.trim().split('\\n').filter(f => f.length > 0);\nconst MAX_SIZE_BYTES = 100 * 1024 * 1024;\nconst items = lines.map(line => {\n  const spaceIdx = line.indexOf(' ');\n  const fileSize = spaceIdx > 0 ? parseInt(line.slice(0, spaceIdx)) : 0;\n  const filepath = spaceIdx > 0 ? line.slice(spaceIdx + 1).trim() : line.trim();\n  const filename = filepath.split('/').pop();\n  const match = filename.match(/^(\\d+)[_\\-\\.]/);\n  const leadId = match ? match[1] : 'UNKNOWN';\n  const dateMatch = filename.match(/(\\d{4}-\\d{2}-\\d{2})/);\n  const fileDate = dateMatch ? dateMatch[1] : new Date().toISOString().slice(0, 10);\n  const tooLarge = fileSize > MAX_SIZE_BYTES;\n  return { json: { filepath, filename, leadId, fileDate, fileSize, tooLarge } };\n}).filter(item => !item.json.tooLarge);\nif (items.length === 0) { return [{ json: { _noFiles: true } }]; }\nreturn items;"
      },
      "id": "parse-files",
      "name": "Parse Filenames & LEAD_ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "no-files-check", "leftValue": "={{ $json._noFiles }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        }
      },
      "id": "if-has-files",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::integer as count FROM processed_files WHERE filename = $1",
        "options": { "queryReplacement": "={{ $json.filename }}" }
      },
      "id": "check-processed",
      "name": "Check If Already Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, -100],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "not-processed", "leftValue": "={{ $json.count }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "id": "if-new-file",
      "name": "Is New File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_files (filename, filepath, lead_id, file_date, status) VALUES ($1, $2, $3, $4, 'transcribing') ON CONFLICT (filename) DO NOTHING RETURNING id",
        "options": { "queryReplacement": "={{ $('Parse Filenames & LEAD_ID').first().json.filename }}||={{ $('Parse Filenames & LEAD_ID').first().json.filepath }}||={{ $('Parse Filenames & LEAD_ID').first().json.leadId }}||={{ $('Parse Filenames & LEAD_ID').first().json.fileDate }}" }
      },
      "id": "insert-processing",
      "name": "Mark as Transcribing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1320, -200],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "jsCode": "const filepath = $('Parse Filenames & LEAD_ID').first().json.filepath;\nconst filename = $('Parse Filenames & LEAD_ID').first().json.filename;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://transcribe:9001/',\n    body: JSON.stringify({ filepath: filepath, filename: filename }),\n    headers: { 'Content-Type': 'application/json' },\n    timeout: 30000\n  });\n  return [{ json: { ...response, _submitted: true } }];\n} catch (e) {\n  return [{ json: { _submitted: false, _error: e.message } }];\n}"
      },
      "id": "speechkit-transcribe",
      "name": "SpeechKit Transcribe (async)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -200],
      "continueOnFail": true
    },
    {
      "parameters": { "amount": 3, "unit": "minutes" },
      "id": "wait-transcription",
      "name": "Wait 3 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, -200]
    },
    {
      "parameters": {
        "jsCode": "const filename = $('Parse Filenames & LEAD_ID').first().json.filename;\nconst maxAttempts = 10;\nconst waitMs = 60000;\n\nfor (let i = 0; i < maxAttempts; i++) {\n  try {\n    const result = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'http://transcribe:9001/check',\n      body: JSON.stringify({ filename: filename }),\n      headers: { 'Content-Type': 'application/json' },\n      timeout: 10000\n    });\n    if (result && result.transcript) {\n      return [{ json: { text: result.transcript, attempts: i + 1, filename: filename } }];\n    }\n    if (i < maxAttempts - 1) { await new Promise(r => setTimeout(r, waitMs)); }\n  } catch (e) {\n    if (i < maxAttempts - 1) { await new Promise(r => setTimeout(r, waitMs)); }\n  }\n}\nreturn [{ json: { text: '', _notReady: true, attempts: maxAttempts, filename: filename } }];"
      },
      "id": "check-transcript",
      "name": "Check Transcript (retry)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-text", "leftValue": "={{ $json.text }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        }
      },
      "id": "if-has-transcript",
      "name": "Has Transcript?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, -200]
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json.text || '';\nconst leadId = $('Parse Filenames & LEAD_ID').first().json.leadId;\nconst filename = $('Parse Filenames & LEAD_ID').first().json.filename;\nconst fileDate = $('Parse Filenames & LEAD_ID').first().json.fileDate;\nreturn [{ json: { transcript: transcript.trim(), leadId, filename, fileDate } }];"
      },
      "id": "extract-transcript",
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, -300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET status = 'completed', transcript_text = $1, completed_at = NOW() WHERE filename = $2",
        "options": { "queryReplacement": "={{ $json.transcript }}||={{ $json.filename }}" }
      },
      "id": "mark-completed",
      "name": "Mark Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, -300],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET status = 'error', error_message = $1, retry_count = retry_count + 1 WHERE filename = $2",
        "options": { "queryReplacement": "={{ ($json._notReady ? 'Transcription timeout after ' + $json.attempts + ' attempts' : ($json._error || 'Empty transcript')) }}||={{ $('Parse Filenames & LEAD_ID').first().json.filename }}" }
      },
      "id": "mark-error",
      "name": "Mark Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2420, 0],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    }
  ],
  "connections": {
    "Every 5 min": { "main": [[{ "node": "List Recording Files", "type": "main", "index": 0 }]] },
    "List Recording Files": { "main": [[{ "node": "Parse Filenames & LEAD_ID", "type": "main", "index": 0 }]] },
    "Parse Filenames & LEAD_ID": { "main": [[{ "node": "Has Files?", "type": "main", "index": 0 }]] },
    "Has Files?": { "main": [[], [{ "node": "Check If Already Processed", "type": "main", "index": 0 }]] },
    "Check If Already Processed": { "main": [[{ "node": "Is New File?", "type": "main", "index": 0 }]] },
    "Is New File?": { "main": [[{ "node": "Mark as Transcribing", "type": "main", "index": 0 }], []] },
    "Mark as Transcribing": { "main": [[{ "node": "SpeechKit Transcribe (async)", "type": "main", "index": 0 }]] },
    "SpeechKit Transcribe (async)": { "main": [[{ "node": "Wait 3 min", "type": "main", "index": 0 }]] },
    "Wait 3 min": { "main": [[{ "node": "Check Transcript (retry)", "type": "main", "index": 0 }]] },
    "Check Transcript (retry)": { "main": [[{ "node": "Has Transcript?", "type": "main", "index": 0 }]] },
    "Has Transcript?": { "main": [[{ "node": "Extract Transcript", "type": "main", "index": 0 }], [{ "node": "Mark Error", "type": "main", "index": 0 }]] },
    "Extract Transcript": { "main": [[{ "node": "Mark Completed", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Moscow" },
  "staticData": null,
  "tags": [{ "name": "MVP Auto-Summary" }],
  "triggerCount": 1
}
