n8n-workflows/02-daily-digest.json
{
  "name": "02 — Daily Digest → GLM-4 → Telegram (with links)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 23 * * *" }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily 23:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pf.id, pf.lead_id, pf.transcript_text, pf.filename, lcm.lead_name, lcm.curators FROM processed_files pf LEFT JOIN lead_chat_mapping lcm ON lcm.lead_id = pf.lead_id WHERE COALESCE(pf.summary_sent, false) = false AND pf.transcript_text IS NOT NULL AND COALESCE(pf.file_date, pf.completed_at::date, pf.created_at::date) = CURRENT_DATE ORDER BY pf.lead_id",
        "options": {}
      },
      "id": "load-today",
      "name": "Load Today's Transcripts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 0],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cs.lead_id, cs.source_type, cs.summary_text, cs.summary_date, lcm.lead_name, lcm.curators FROM client_summaries cs LEFT JOIN lead_chat_mapping lcm ON lcm.lead_id = cs.lead_id WHERE cs.summary_date = CURRENT_DATE ORDER BY cs.lead_id, cs.source_type",
        "options": {}
      },
      "id": "load-summaries",
      "name": "Load Today's Summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 200],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate transcripts for GLM-4\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { hasData: false, combined: '', rowIds: [], leadIds: [], count: 0 } }];\n}\n\nconst dateLabel = new Date().toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow' });\nconst MAX_CHARS = 50000;\nconst sections = [];\nlet totalLen = 0;\nlet truncated = false;\n\n// Group by lead_id\nconst byLead = {};\nfor (const item of items) {\n  const { lead_id, lead_name, curators, transcript_text, filename } = item.json;\n  if (!lead_id) continue;\n  const lid = String(lead_id);\n  if (!byLead[lid]) byLead[lid] = { lead_id: lid, lead_name: lead_name || `ФФ-${lid}`, curators: curators || '', calls: [] };\n  byLead[lid].calls.push(transcript_text || '');\n}\n\nfor (const lid of Object.keys(byLead)) {\n  const g = byLead[lid];\n  const section = `=== LEAD-${lid} (${g.lead_name}) ===\\n${g.calls.join('\\n---\\n')}`;\n  if (totalLen + section.length > MAX_CHARS) { truncated = true; break; }\n  sections.push(section);\n  totalLen += section.length;\n}\n\nconst combined = sections.join('\\n\\n') + (truncated ? '\\n\\n[...обрезано...]' : '');\nconst rowIds = items.slice(0, sections.length).map(i => i.json.id);\nconst leadIds = Array.from(new Set(items.map(i => String(i.json.lead_id)).filter(Boolean)));\n\nreturn [{ json: { hasData: true, dateLabel, combined, rowIds, leadIds, count: sections.length, truncated } }];"
      },
      "id": "aggregate-transcripts",
      "name": "Aggregate Transcripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build per-client summary links\nconst items = $input.all();\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst SERVER = 'http://84.252.100.93';\nconst DIFY_APP_URL = (process.env.DIFY_CHATBOT_URL || `${SERVER}:8080`);\n\n// Group by lead_id\nconst byLead = {};\nfor (const item of items) {\n  const { lead_id, source_type, lead_name, curators } = item.json;\n  if (!lead_id) continue;\n  const lid = String(lead_id);\n  if (!byLead[lid]) byLead[lid] = { lead_id: lid, lead_name: lead_name || `ФФ-${lid}`, curators: curators || '', has_call: false, has_chat: false };\n  if (source_type === 'call') byLead[lid].has_call = true;\n  if (source_type === 'chat') byLead[lid].has_chat = true;\n}\n\n// Build links block for Telegram message\nconst linkLines = [];\nfor (const lid of Object.keys(byLead)) {\n  const g = byLead[lid];\n  const links = [];\n  if (g.has_call) links.push(`<a href=\"${SERVER}:8080/summaries/${dateStr}/LEAD-${lid}_call_${dateStr}.md\">созвон</a>`);\n  if (g.has_chat) links.push(`<a href=\"${SERVER}:8080/summaries/${dateStr}/LEAD-${lid}_chat_${dateStr}.md\">чат</a>`);\n  const ragLink = `<a href=\"${DIFY_APP_URL}\">RAG↗</a>`;\n  linkLines.push(`  <b>LEAD-${lid}</b> ${g.lead_name}: ${links.join(', ')} | ${ragLink}`);\n}\n\nreturn [{ json: { linkBlock: linkLines.join('\\n'), leadCount: linkLines.length, dateStr } }];"
      },
      "id": "build-links",
      "name": "Build Summary Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.combined }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        }
      },
      "id": "if-has-data",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS prompts (name VARCHAR(100) PRIMARY KEY, prompt_text TEXT NOT NULL, last_result TEXT, updated_at TIMESTAMP DEFAULT NOW(), version INTEGER DEFAULT 1, is_active BOOLEAN DEFAULT true, created_by VARCHAR(100)); WITH prompt AS (SELECT prompt_text FROM prompts WHERE name = 'digest_prompt' AND is_active = true ORDER BY version DESC LIMIT 1) SELECT COALESCE((SELECT prompt_text FROM prompt), '') AS prompt_text;",
        "options": {}
      },
      "id": "load-digest-prompt",
      "name": "Load Digest Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [880, 60],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "jsCode": "const promptRows = $input.all();\nconst meta = $('Aggregate Transcripts').first().json;\n\nconst fallbackPrompt = 'Ты бизнес-аналитик. Сформируй ежедневный дайджест по стенограммам встреч.\\n\\nФОРМАТ (строго HTML без Markdown):\\n1) <b>Резюме дня</b> (3-5 предложений)\\n2) <b>Ключевые договорённости</b> (буллеты)\\n3) <b>Action items</b> (буллет, ответственный, срок)\\n4) <b>Риски/блокеры</b> (или Нет)\\n5) По каждому LEAD-ID: 1-2 ключевых пункта\\n\\nМаксимум 3000 символов. Используй HTML-теги (<b>, <i>), НЕ Markdown.';\n\nconst promptText = promptRows.map(r => r.json?.prompt_text).find(v => typeof v === 'string' && v.trim().length > 0);\nconst systemPrompt = promptText ? promptText.trim() : fallbackPrompt;\n\nreturn [{ json: { ...meta, systemPrompt } }];"
      },
      "id": "prepare-glm",
      "name": "Prepare GLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 60]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.GLM4_BASE_URL || 'https://api.z.ai/api/anthropic') + '/v1/messages' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.GLM4_MODEL || 'claude-3-5-haiku-20241022', system: $json.systemPrompt, messages: [{ role: 'user', content: $json.combined }], max_tokens: 1400 }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.GLM4_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "timeout": 180000, "retry": { "enabled": true, "maxRetries": 3, "waitBetweenRetries": 5000 } }
      },
      "id": "glm-summarize",
      "name": "LLM Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -120]
    },

    {
      "parameters": {
        "jsCode": "const meta = $('Aggregate Transcripts').first().json;\nconst linksData = $('Build Summary Links').first().json;\nconst resp = $json;\n\n// Support both Anthropic and OpenAI response formats\nlet rawContent = '';\nif (resp.content && Array.isArray(resp.content)) {\n  rawContent = resp.content.filter(b => b.type === 'text').map(b => b.text).join('\\n').trim();\n} else if (resp.choices?.[0]?.message) {\n  rawContent = (resp.choices[0].message.content || resp.choices[0].message.reasoning_content || '').trim();\n}\nconst content = rawContent || 'Сводка не получена.';\n\nconst dateLabel = meta.dateLabel;\nconst leadList = (meta.leadIds || []).map(id => `LEAD-${id}`).join(', ') || '—';\n\n// Header\nconst header = `<b>📊 Дайджест за ${dateLabel}</b>\\nВстреч: ${meta.count} | Клиентов: ${(meta.leadIds||[]).length}`;\n\n// Summaries block\nconst linksBlock = linksData.linkBlock ? `\\n\\n<b>📂 Саммари и RAG:</b>\\n${linksData.linkBlock}` : '';\n\nconst digest = `${header}\\n\\n${content}${linksBlock}`.trim();\n\nreturn [{ json: { digest, summaryText: content, rowIds: meta.rowIds } }];"
      },
      "id": "build-digest",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -120]
    },

    {
      "parameters": {
        "jsCode": "const text = $json.digest || '';\nconst max = 4000;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += max) {\n  chunks.push(text.slice(i, i + max));\n}\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunks.length > 1 ? `${chunk}\\n\\n(часть ${index + 1}/${chunks.length})` : chunk,\n    part: index + 1,\n    total: chunks.length\n  }\n}));"
      },
      "id": "chunk-telegram",
      "name": "Chunk for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -120]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $env.TELEGRAM_CHAT_ID || -1003872092456, text: $json.text, disable_web_page_preview: false }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -120]
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const meta = $('Build Digest').first().json;\nconst rowIds = Array.isArray(meta.rowIds) ? meta.rowIds : [];\nconst summaryText = meta.summaryText || '';\nreturn [{ json: { rowIds, summaryText } }];"
      },
      "id": "collapse-chunks",
      "name": "Collapse Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -120]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET summary_text = $1, summary_sent = true WHERE id = ANY($2::int[])",
        "options": {
          "queryReplacement": "={{ $json.summaryText }}||={{ '{' + ($json.rowIds || []).join(',') + '}' }}"
        }
      },
      "id": "mark-summary-sent",
      "name": "Mark Summary Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1980, -120],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $env.TELEGRAM_CHAT_ID || -1003872092456, text: '📊 <b>Дайджест ' + new Date().toLocaleDateString(\"ru-RU\") + '</b>\\n\\nСозвонов за день не было. Данные появятся после обработки записей.', disable_web_page_preview: true }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "send-no-data",
      "name": "Send No Data Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    }
  ],
  "connections": {
    "Daily 23:00": {
      "main": [[
        { "node": "Load Today's Transcripts", "type": "main", "index": 0 },
        { "node": "Load Today's Summaries", "type": "main", "index": 0 }
      ]]
    },
    "Load Today's Transcripts": { "main": [[{ "node": "Aggregate Transcripts", "type": "main", "index": 0 }]] },
    "Load Today's Summaries":   { "main": [[{ "node": "Build Summary Links", "type": "main", "index": 0 }]] },
    "Aggregate Transcripts": { "main": [[{ "node": "Has Data?", "type": "main", "index": 0 }]] },
    "Has Data?": {
      "main": [
        [{ "node": "Load Digest Prompt", "type": "main", "index": 0 }],
        [{ "node": "Send No Data Msg", "type": "main", "index": 0 }]
      ]
    },
    "Load Digest Prompt": { "main": [[{ "node": "Prepare GLM", "type": "main", "index": 0 }]] },
    "Prepare GLM":        { "main": [[{ "node": "GLM-4 Summarize", "type": "main", "index": 0 }]] },
    "GLM-4 Summarize":    { "main": [[{ "node": "Build Digest", "type": "main", "index": 0 }]] },
    "Build Digest":       { "main": [[{ "node": "Chunk for Telegram", "type": "main", "index": 0 }]] },
    "Chunk for Telegram": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] },
    "Send Telegram":      { "main": [[{ "node": "Collapse Chunks", "type": "main", "index": 0 }]] },
    "Collapse Chunks":    { "main": [[{ "node": "Mark Summary Sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Moscow" },
  "staticData": null,
  "tags": [{ "name": "MVP Auto-Summary" }],
  "triggerCount": 1
}
