n8n-workflows/03-individual-summaries.json
{
  "name": "03 — Individual Summaries → GLM-4 → Dify (per client)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 22 * * *" }] }
      },
      "id": "trigger",
      "name": "Daily 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, dify_dataset_id FROM lead_chat_mapping WHERE active = true ORDER BY lead_id"
      },
      "id": "load-clients",
      "name": "Load Client Dataset Map",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "jsCode": "// Build lead_id → dify_dataset_id lookup\nconst items = $input.all();\nconst map = {};\nfor (const item of items) {\n  const { lead_id, dify_dataset_id } = item.json;\n  if (lead_id && dify_dataset_id) {\n    map[String(lead_id)] = dify_dataset_id;\n  }\n}\n// Store in static data for later nodes\nconst staticData = $getWorkflowStaticData('global');\nstaticData.datasetMap = map;\nreturn [{ json: { datasetMap: map, clientCount: Object.keys(map).length } }];"
      },
      "id": "build-map",
      "name": "Build Dataset Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pf.id, pf.filename, pf.lead_id, pf.transcript_text FROM processed_files pf WHERE pf.status = 'completed' AND DATE(COALESCE(pf.file_date, pf.completed_at::date, pf.created_at::date)) = CURRENT_DATE AND pf.transcript_text IS NOT NULL AND (pf.dify_doc_id IS NULL OR pf.dify_doc_id = '') ORDER BY pf.lead_id, pf.id LIMIT 20"
      },
      "id": "load-calls",
      "name": "Load Today's Calls",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 100],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, chat_title, sender, message_text, message_date FROM chat_messages WHERE DATE(message_date) = CURRENT_DATE AND summary_sent = false ORDER BY lead_id, message_date LIMIT 500"
      },
      "id": "load-chats",
      "name": "Load Today's Chats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 500],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "jsCode": "// Group calls by lead_id, attach dataset_id\nconst items = $input.all();\nconst datasetMap = $('Build Dataset Map').first().json.datasetMap || {};\n\nif (items.length === 0 || !items[0].json.id) {\n  return [{ json: { _skip: true, type: 'calls', message: 'No calls today' } }];\n}\n\nconst grouped = {};\nfor (const item of items) {\n  const { id, filename, lead_id, transcript_text } = item.json;\n  if (!id || !lead_id) continue;\n  const lid = String(lead_id);\n  if (!grouped[lid]) grouped[lid] = { lead_id: lid, calls: [], dataset_id: datasetMap[lid] || null };\n  grouped[lid].calls.push({ id, filename, text: (transcript_text || '').slice(0, 30000) });\n}\n\nreturn Object.values(grouped).map(g => ({ json: g }));"
      },
      "id": "group-calls",
      "name": "Group Calls by Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },

    {
      "parameters": {
        "jsCode": "// Group chat messages by lead_id, attach dataset_id\nconst items = $input.all();\nconst datasetMap = $('Build Dataset Map').first().json.datasetMap || {};\n\nif (items.length === 0 || !items[0].json.lead_id) {\n  return [{ json: { _skip: true, type: 'chats', message: 'No chats today' } }];\n}\n\nconst grouped = {};\nfor (const item of items) {\n  const { lead_id, chat_title, sender, message_text, message_date } = item.json;\n  if (!lead_id) continue;\n  const lid = String(lead_id);\n  if (!grouped[lid]) grouped[lid] = { lead_id: lid, chat_title: chat_title || '', messages: [], dataset_id: datasetMap[lid] || null };\n  grouped[lid].messages.push(`[${message_date}] ${sender}: ${message_text}`);\n}\n\nreturn Object.values(grouped).map(g => ({\n  json: {\n    lead_id: g.lead_id,\n    chat_title: g.chat_title,\n    dataset_id: g.dataset_id,\n    content: g.messages.slice(0, 200).join('\\n'),\n    message_count: g.messages.length\n  }\n}));"
      },
      "id": "group-chats",
      "name": "Group Chats by Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 500]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        }
      },
      "id": "skip-calls",
      "name": "Skip Calls?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 100]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json._skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        }
      },
      "id": "skip-chats",
      "name": "Skip Chats?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 500]
    },

    {
      "parameters": {
        "jsCode": "// Build GLM-4 request for call summary\nconst { lead_id, calls, dataset_id } = $json;\nconst combined = calls.map((c, i) => `--- Звонок ${i+1} (${c.filename}) ---\\n${c.text}`).join('\\n\\n');\nconst callIds = calls.map(c => c.id);\n\nreturn [{ json: {\n  lead_id,\n  dataset_id,\n  call_ids: callIds,\n  content: combined,\n  source_type: 'call',\n  prompt: 'Ты бизнес-аналитик. Проанализируй транскрипцию(и) созвона с клиентом.\\nВыдай:\\n1) Краткое резюме (2-3 предл.)\\n2) Участники звонка\\n3) Ключевые договорённости\\n4) Action Items с дедлайнами (если есть)\\n5) Риски/проблемы\\n6) Тон клиента (позитивный/нейтральный/негативный)\\nФормат: Markdown. Не более 1500 слов.'\n} }];"
      },
      "id": "prep-call-glm",
      "name": "Prepare Call GLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    },

    {
      "parameters": {
        "jsCode": "// Build GLM-4 request for chat summary\nconst { lead_id, chat_title, dataset_id, content, message_count } = $json;\n\nreturn [{ json: {\n  lead_id,\n  dataset_id,\n  content,\n  source_type: 'chat',\n  chat_title,\n  message_count,\n  prompt: 'Ты куратор клиентского отдела. Проанализируй переписку с клиентом в Telegram за сегодня.\\nВыдай:\\n1) Краткое резюме (2-3 предл.)\\n2) Ключевые вопросы клиента\\n3) Решённые вопросы ✅\\n4) Нерешённые вопросы ❓\\n5) Action Items (если есть)\\n6) Общий тон клиента\\nФормат: Markdown.'\n} }];"
      },
      "id": "prep-chat-glm",
      "name": "Prepare Chat GLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.GLM4_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'glm-4-flash', messages: [{ role: 'system', content: $json.prompt }, { role: 'user', content: $json.content }], temperature: 0.3, max_tokens: 2000, thinking: { type: 'disabled' } }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "glm-calls",
      "name": "GLM-4 Call Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 0],
      "continueOnFail": true
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.GLM4_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'glm-4-flash', messages: [{ role: 'system', content: $json.prompt }, { role: 'user', content: $json.content }], temperature: 0.3, max_tokens: 2000, thinking: { type: 'disabled' } }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "glm-chats",
      "name": "GLM-4 Chat Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 400],
      "continueOnFail": true
    },

    {
      "parameters": {
        "jsCode": "// Extract summary from GLM response for calls\nconst glmResp = $json;\nconst prev = $('Prepare Call GLM Request').first().json;\nconst msg = glmResp.choices?.[0]?.message || {};\nconst summary = (msg.content || msg.reasoning_content || 'Ошибка генерации').trim();\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst callsInfo = prev.call_ids?.length > 1 ? `${prev.call_ids.length} звонка` : '1 звонок';\n\nreturn [{ json: {\n  lead_id: prev.lead_id,\n  dataset_id: prev.dataset_id,\n  call_ids: prev.call_ids,\n  source_type: 'call',\n  summary,\n  filename: `LEAD-${prev.lead_id}_call_${dateStr}.md`,\n  doc_name: `[${dateStr}] LEAD-${prev.lead_id} — Созвоны (${callsInfo})`,\n  date: dateStr\n} }];"
      },
      "id": "extract-call-summary",
      "name": "Extract Call Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 0]
    },

    {
      "parameters": {
        "jsCode": "// Extract summary from GLM response for chats\nconst glmResp = $json;\nconst prev = $('Prepare Chat GLM Request').first().json;\nconst msg = glmResp.choices?.[0]?.message || {};\nconst summary = (msg.content || msg.reasoning_content || 'Ошибка генерации').trim();\nconst dateStr = new Date().toISOString().slice(0, 10);\n\nreturn [{ json: {\n  lead_id: prev.lead_id,\n  dataset_id: prev.dataset_id,\n  source_type: 'chat',\n  chat_title: prev.chat_title,\n  message_count: prev.message_count,\n  summary,\n  filename: `LEAD-${prev.lead_id}_chat_${dateStr}.md`,\n  doc_name: `[${dateStr}] LEAD-${prev.lead_id} — Telegram-чат (${prev.message_count} сообщ.)`,\n  date: dateStr\n} }];"
      },
      "id": "extract-chat-summary",
      "name": "Extract Chat Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 400]
    },

    {
      "parameters": {
        "jsCode": "// Push to Dify: use per-client dataset_id if available, else fallback to env\nconst { dataset_id, doc_name, summary } = $json;\nconst effectiveDatasetId = dataset_id || $env.DIFY_DATASET_ID;\nreturn [{ json: { ...$json, effective_dataset_id: effectiveDatasetId, ready: true } }];"
      },
      "id": "resolve-call-dataset",
      "name": "Resolve Call Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 0]
    },

    {
      "parameters": {
        "jsCode": "const { dataset_id, doc_name, summary } = $json;\nconst effectiveDatasetId = dataset_id || $env.DIFY_DATASET_ID;\nreturn [{ json: { ...$json, effective_dataset_id: effectiveDatasetId, ready: true } }];"
      },
      "id": "resolve-chat-dataset",
      "name": "Resolve Chat Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 400]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_BASE_URL + '/v1/datasets/' + $json.effective_dataset_id + '/document/create-by-text' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.DIFY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.doc_name, text: $json.summary, indexing_technique: 'high_quality', process_rule: { mode: 'automatic' } }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "push-call-dify",
      "name": "Push Call to Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 0],
      "continueOnFail": true
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DIFY_BASE_URL + '/v1/datasets/' + $json.effective_dataset_id + '/document/create-by-text' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.DIFY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.doc_name, text: $json.summary, indexing_technique: 'high_quality', process_rule: { mode: 'automatic' } }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "push-chat-dify",
      "name": "Push Chat to Dify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 400],
      "continueOnFail": true
    },

    {
      "parameters": {
        "jsCode": "// Save call summary to DB + mark dify_doc_id\nconst difyResp = $json;\nconst prev = $('Resolve Call Dataset').first().json;\nconst docId = difyResp.document?.id || difyResp.id || '';\n\nreturn [{ json: {\n  lead_id: prev.lead_id,\n  source_type: 'call',\n  call_ids: prev.call_ids,\n  summary: prev.summary,\n  date: prev.date,\n  dify_doc_id: docId,\n  filename: prev.filename\n} }];"
      },
      "id": "prep-call-db",
      "name": "Prep Call DB Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },

    {
      "parameters": {
        "jsCode": "const difyResp = $json;\nconst prev = $('Resolve Chat Dataset').first().json;\nconst docId = difyResp.document?.id || difyResp.id || '';\n\nreturn [{ json: {\n  lead_id: prev.lead_id,\n  source_type: 'chat',\n  summary: prev.summary,\n  date: prev.date,\n  dify_doc_id: docId,\n  filename: prev.filename\n} }];"
      },
      "id": "prep-chat-db",
      "name": "Prep Chat DB Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 400]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_summaries (lead_id, source_type, summary_text, summary_date) VALUES ($1, $2, $3, $4::date) RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.lead_id }}||={{ $json.source_type }}||={{ $json.summary }}||={{ $json.date }}"
        }
      },
      "id": "save-call-summary",
      "name": "Save Call Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2620, 0],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_summaries (lead_id, source_type, summary_text, summary_date) VALUES ($1, $2, $3, $4::date) RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.lead_id }}||={{ $json.source_type }}||={{ $json.summary }}||={{ $json.date }}"
        }
      },
      "id": "save-chat-summary",
      "name": "Save Chat Summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2620, 400],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE processed_files SET dify_doc_id = $1, summary_text = $2 WHERE id = ANY($3::int[])",
        "options": {
          "queryReplacement": "={{ $('Prep Call DB Save').first().json.dify_doc_id }}||={{ $('Prep Call DB Save').first().json.summary }}||={{ '{' + ($('Prep Call DB Save').first().json.call_ids || []).join(',') + '}' }}"
        }
      },
      "id": "update-processed-files",
      "name": "Update Processed Files",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2840, 0],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE chat_messages SET summary_sent = true WHERE lead_id = $1 AND DATE(message_date) = CURRENT_DATE",
        "options": {
          "queryReplacement": "={{ $('Prep Chat DB Save').first().json.lead_id }}"
        }
      },
      "id": "mark-chat-sent",
      "name": "Mark Chat Messages Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2840, 400],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    }
  ],
  "connections": {
    "Daily 22:00": { "main": [[{ "node": "Load Client Dataset Map", "type": "main", "index": 0 }]] },
    "Load Client Dataset Map": { "main": [[{ "node": "Build Dataset Map", "type": "main", "index": 0 }]] },
    "Build Dataset Map": {
      "main": [[
        { "node": "Load Today's Calls", "type": "main", "index": 0 },
        { "node": "Load Today's Chats", "type": "main", "index": 0 }
      ]]
    },
    "Load Today's Calls":  { "main": [[{ "node": "Group Calls by Lead", "type": "main", "index": 0 }]] },
    "Load Today's Chats":  { "main": [[{ "node": "Group Chats by Lead", "type": "main", "index": 0 }]] },
    "Group Calls by Lead": { "main": [[{ "node": "Skip Calls?", "type": "main", "index": 0 }]] },
    "Group Chats by Lead": { "main": [[{ "node": "Skip Chats?", "type": "main", "index": 0 }]] },
    "Skip Calls?": { "main": [[], [{ "node": "Prepare Call GLM Request", "type": "main", "index": 0 }]] },
    "Skip Chats?": { "main": [[], [{ "node": "Prepare Chat GLM Request", "type": "main", "index": 0 }]] },
    "Prepare Call GLM Request": { "main": [[{ "node": "GLM-4 Call Summary", "type": "main", "index": 0 }]] },
    "Prepare Chat GLM Request": { "main": [[{ "node": "GLM-4 Chat Summary", "type": "main", "index": 0 }]] },
    "GLM-4 Call Summary": { "main": [[{ "node": "Extract Call Summary", "type": "main", "index": 0 }]] },
    "GLM-4 Chat Summary": { "main": [[{ "node": "Extract Chat Summary", "type": "main", "index": 0 }]] },
    "Extract Call Summary": { "main": [[{ "node": "Resolve Call Dataset", "type": "main", "index": 0 }]] },
    "Extract Chat Summary": { "main": [[{ "node": "Resolve Chat Dataset", "type": "main", "index": 0 }]] },
    "Resolve Call Dataset": { "main": [[{ "node": "Push Call to Dify", "type": "main", "index": 0 }]] },
    "Resolve Chat Dataset": { "main": [[{ "node": "Push Chat to Dify", "type": "main", "index": 0 }]] },
    "Push Call to Dify": { "main": [[{ "node": "Prep Call DB Save", "type": "main", "index": 0 }]] },
    "Push Chat to Dify": { "main": [[{ "node": "Prep Chat DB Save", "type": "main", "index": 0 }]] },
    "Prep Call DB Save": { "main": [[{ "node": "Save Call Summary", "type": "main", "index": 0 }]] },
    "Prep Chat DB Save": { "main": [[{ "node": "Save Chat Summary", "type": "main", "index": 0 }]] },
    "Save Call Summary": { "main": [[{ "node": "Update Processed Files", "type": "main", "index": 0 }]] },
    "Save Chat Summary": { "main": [[{ "node": "Mark Chat Messages Sent", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Moscow" },
  "staticData": null,
  "tags": [{ "name": "MVP Auto-Summary" }],
  "triggerCount": 0
}
