n8n-workflows/03-individual-summaries.json
{
  "name": "03 — Individual Summaries (Calls + Chats)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily 22:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, filename, lead_id, transcript_text, created_at::date as call_date FROM processed_files WHERE status = 'completed' AND DATE(created_at) = CURRENT_DATE AND transcript_text IS NOT NULL ORDER BY lead_id, created_at",
        "options": {}
      },
      "id": "load-calls",
      "name": "Load Today's Calls",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -656,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, chat_title, STRING_AGG('[' || TO_CHAR(message_date, 'HH24:MI') || '] ' || sender || ': ' || message_text, E'\\n' ORDER BY message_date) as chat_text, COUNT(*) as msg_count, MIN(message_date) as first_msg, MAX(message_date) as last_msg FROM chat_messages WHERE DATE(message_date) = CURRENT_DATE GROUP BY lead_id, chat_title ORDER BY lead_id",
        "options": {}
      },
      "id": "load-chats",
      "name": "Load Today's Chats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -656,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const calls = $input.all();\nconst results = [];\nfor (const call of calls) {\n  const { id, filename, lead_id, transcript_text, call_date } = call.json;\n  const timeParts = filename.match(/_(\\d{2}-\\d{2})\\./)?.[1] || '00-00';\n  const truncated = transcript_text.length > 80000 ? transcript_text.slice(0, 80000) + '\\n...[обрезано]' : transcript_text;\n  results.push({ json: { type: 'call', lead_id: String(lead_id), source_id: id, filename, time_str: timeParts, content: truncated, call_date } });\n}\nreturn results.length > 0 ? results : [{ json: { type: 'call', lead_id: null, empty: true } }];"
      },
      "id": "prepare-calls",
      "name": "Prepare Calls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chats = $input.all();\nconst results = [];\nfor (const chat of chats) {\n  const { lead_id, chat_title, chat_text, msg_count } = chat.json;\n  const truncated = (chat_text || '').length > 50000 ? chat_text.slice(0, 50000) + '\\n...[обрезано]' : (chat_text || '');\n  results.push({ json: { type: 'chat', lead_id: String(lead_id), chat_title, msg_count, content: truncated } });\n}\nreturn results.length > 0 ? results : [{ json: { type: 'chat', lead_id: null, empty: true } }];"
      },
      "id": "prepare-chats",
      "name": "Prepare Chats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "any"
        },
        "options": {}
      },
      "id": "has-calls",
      "name": "Has Calls?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-empty",
              "leftValue": "={{ $json.empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "any"
        },
        "options": {}
      },
      "id": "has-chats",
      "name": "Has Chats?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS prompts (  name VARCHAR(100) PRIMARY KEY,  prompt_text TEXT NOT NULL,  last_result TEXT,  updated_at TIMESTAMP DEFAULT NOW());SELECT prompt_text FROM prompts WHERE name = 'call_summary_prompt' LIMIT 1;",
        "options": {}
      },
      "id": "load-call-prompt",
      "name": "Load Call Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -56,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS prompts (  name VARCHAR(100) PRIMARY KEY,  prompt_text TEXT NOT NULL,  last_result TEXT,  updated_at TIMESTAMP DEFAULT NOW());SELECT prompt_text FROM prompts WHERE name = 'chat_summary_prompt' LIMIT 1;",
        "options": {}
      },
      "id": "load-chat-prompt",
      "name": "Load Chat Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -56,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rows = $input.all();\nconst defaultPrompt = \"\\u0422\\u044b \\u0431\\u0438\\u0437\\u043d\\u0435\\u0441-\\u0430\\u043d\\u0430\\u043b\\u0438\\u0442\\u0438\\u043a. \\u041f\\u0440\\u043e\\u0430\\u043d\\u0430\\u043b\\u0438\\u0437\\u0438\\u0440\\u0443\\u0439 \\u0442\\u0440\\u0430\\u043d\\u0441\\u043a\\u0440\\u0438\\u043f\\u0446\\u0438\\u044e \\u0441\\u043e\\u0437\\u0432\\u043e\\u043d\\u0430 \\u0441 \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u043e\\u043c.\\n\\n\\u0412\\u042b\\u0425\\u041e\\u0414\\u041d\\u041e\\u0419 \\u0424\\u041e\\u0420\\u041c\\u0410\\u0422 (\\u0441\\u0442\\u0440\\u043e\\u0433\\u043e):\\n\\n## \\u041a\\u0440\\u0430\\u0442\\u043a\\u043e\\u0435 \\u0440\\u0435\\u0437\\u044e\\u043c\\u0435\\n[2-3 \\u043f\\u0440\\u0435\\u0434\\u043b\\u043e\\u0436\\u0435\\u043d\\u0438\\u044f \\u043e \\u0433\\u043b\\u0430\\u0432\\u043d\\u043e\\u043c]\\n\\n## \\u0423\\u0447\\u0430\\u0441\\u0442\\u043d\\u0438\\u043a\\u0438\\n- \\u041c\\u0435\\u043d\\u0435\\u0434\\u0436\\u0435\\u0440: [\\u0438\\u043c\\u044f]\\n- \\u041a\\u043b\\u0438\\u0435\\u043d\\u0442: [\\u043a\\u043e\\u043c\\u043f\\u0430\\u043d\\u0438\\u044f/\\u0438\\u043c\\u044f]\\n\\n## \\u041a\\u043b\\u044e\\u0447\\u0435\\u0432\\u044b\\u0435 \\u0434\\u043e\\u0433\\u043e\\u0432\\u043e\\u0440\\u0451\\u043d\\u043d\\u043e\\u0441\\u0442\\u0438\\n- [\\u043f\\u0443\\u043d\\u043a\\u0442]\\n\\n## Action Items\\n- [ ] [\\u0437\\u0430\\u0434\\u0430\\u0447\\u0430] \\u2014 [\\u043e\\u0442\\u0432\\u0435\\u0442\\u0441\\u0442\\u0432\\u0435\\u043d\\u043d\\u044b\\u0439] \\u2014 [\\u0434\\u0435\\u0434\\u043b\\u0430\\u0439\\u043d]\\n\\n## \\u0420\\u0438\\u0441\\u043a\\u0438 \\u0438 \\u0431\\u043b\\u043e\\u043a\\u0435\\u0440\\u044b\\n- [\\u0440\\u0438\\u0441\\u043a \\u0438\\u043b\\u0438 \\u041d\\u0435\\u0442]\\n\\n## \\u0421\\u043b\\u0435\\u0434\\u0443\\u044e\\u0449\\u0438\\u0435 \\u0448\\u0430\\u0433\\u0438\\n- [\\u0447\\u0442\\u043e \\u0434\\u0435\\u043b\\u0430\\u0442\\u044c \\u0434\\u0430\\u043b\\u044c\\u0448\\u0435]\\n\\n## \\u0412\\u0430\\u0436\\u043d\\u044b\\u0435 \\u0446\\u0438\\u0442\\u0430\\u0442\\u044b \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u0430\\n> [\\u0446\\u0438\\u0442\\u0430\\u0442\\u0430 \\u0438\\u043b\\u0438 \\u043d\\u0435\\u0442 \\u0446\\u0438\\u0442\\u0430\\u0442]\";\nconst callItem = $('Prepare Calls').item.json;\nconst promptRow = rows.find(r => r.json && r.json.prompt_text);\nconst systemPrompt = promptRow ? promptRow.json.prompt_text : defaultPrompt;\nreturn [{ json: { ...callItem, systemPrompt } }];"
      },
      "id": "inject-call-prompt",
      "name": "Inject Call Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        164,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rows = $input.all();\nconst defaultPrompt = \"\\u0422\\u044b \\u0431\\u0438\\u0437\\u043d\\u0435\\u0441-\\u0430\\u043d\\u0430\\u043b\\u0438\\u0442\\u0438\\u043a. \\u041f\\u0440\\u043e\\u0430\\u043d\\u0430\\u043b\\u0438\\u0437\\u0438\\u0440\\u0443\\u0439 \\u0438\\u0441\\u0442\\u043e\\u0440\\u0438\\u044e \\u043f\\u0435\\u0440\\u0435\\u043f\\u0438\\u0441\\u043a\\u0438 \\u0441 \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u043e\\u043c \\u0432 Telegram.\\n\\n\\u0412\\u042b\\u0425\\u041e\\u0414\\u041d\\u041e\\u0419 \\u0424\\u041e\\u0420\\u041c\\u0410\\u0422 (\\u0441\\u0442\\u0440\\u043e\\u0433\\u043e):\\n\\n## \\u041f\\u0435\\u0440\\u0438\\u043e\\u0434 \\u043e\\u0431\\u0449\\u0435\\u043d\\u0438\\u044f\\n[\\u0434\\u0430\\u0442\\u044b \\u043f\\u0435\\u0440\\u0432\\u043e\\u0439 \\u0438 \\u043f\\u043e\\u0441\\u043b\\u0435\\u0434\\u043d\\u0435\\u0439 \\u043f\\u0435\\u0440\\u0435\\u043f\\u0438\\u0441\\u043a\\u0438]\\n\\n## \\u041e\\u0441\\u043d\\u043e\\u0432\\u043d\\u044b\\u0435 \\u0442\\u0435\\u043c\\u044b\\n- [\\u0442\\u0435\\u043c\\u0430]\\n\\n## \\u041a\\u043b\\u044e\\u0447\\u0435\\u0432\\u044b\\u0435 \\u0434\\u043e\\u0433\\u043e\\u0432\\u043e\\u0440\\u0451\\u043d\\u043d\\u043e\\u0441\\u0442\\u0438\\n- [\\u043f\\u0443\\u043d\\u043a\\u0442 \\u0438\\u043b\\u0438 \\u041d\\u0435 \\u0437\\u0430\\u0444\\u0438\\u043a\\u0441\\u0438\\u0440\\u043e\\u0432\\u0430\\u043d\\u043e]\\n\\n## Open questions (\\u0432\\u043e\\u043f\\u0440\\u043e\\u0441\\u044b \\u0431\\u0435\\u0437 \\u043e\\u0442\\u0432\\u0435\\u0442\\u0430)\\n- [\\u0432\\u043e\\u043f\\u0440\\u043e\\u0441 \\u0438\\u043b\\u0438 \\u041d\\u0435\\u0442]\\n\\n## \\u0422\\u043e\\u043d \\u043a\\u043b\\u0438\\u0435\\u043d\\u0442\\u0430\\n[\\u043f\\u043e\\u0437\\u0438\\u0442\\u0438\\u0432\\u043d\\u044b\\u0439/\\u043d\\u0435\\u0439\\u0442\\u0440\\u0430\\u043b\\u044c\\u043d\\u044b\\u0439/\\u043d\\u0435\\u0433\\u0430\\u0442\\u0438\\u0432\\u043d\\u044b\\u0439 + \\u043f\\u0440\\u0438\\u0447\\u0438\\u043d\\u044b]\\n\\n## \\u0421\\u043b\\u0435\\u0434\\u0443\\u044e\\u0449\\u0438\\u0435 \\u0448\\u0430\\u0433\\u0438\\n- [\\u0447\\u0442\\u043e \\u043d\\u0443\\u0436\\u043d\\u043e \\u0441\\u0434\\u0435\\u043b\\u0430\\u0442\\u044c]\";\nconst chatItem = $('Prepare Chats').item.json;\nconst promptRow = rows.find(r => r.json && r.json.prompt_text);\nconst systemPrompt = promptRow ? promptRow.json.prompt_text : defaultPrompt;\nreturn [{ json: { ...chatItem, systemPrompt } }];"
      },
      "id": "inject-chat-prompt",
      "name": "Inject Chat Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        164,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fda5cc088ab04a1a92d5966b373e81a3.rfUescuUieAO78M6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'glm-4.7-flash', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.content }], temperature: 0.2, max_tokens: 1500, stream: false, thinking: { type: 'disabled' } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "glm-call",
      "name": "GLM-4: Summarize Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.bigmodel.cn/api/paas/v4/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fda5cc088ab04a1a92d5966b373e81a3.rfUescuUieAO78M6"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'glm-4.7-flash', messages: [{ role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.content }], temperature: 0.2, max_tokens: 1200, stream: false, thinking: { type: 'disabled' } }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "glm-chat",
      "name": "GLM-4: Summarize Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const glmResponse = $json;\nconst prevItem = $('Inject Call Prompt').item.json;\nconst msg = glmResponse.choices?.[0]?.message || {};\nconst rawContent = (msg.content || '').trim();\nconst rawReasoning = (msg.reasoning_content || '').trim();\nconst summaryText = rawContent || rawReasoning || 'Summary не получено.';\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst filename = `LEAD-${prevItem.lead_id}_call_${prevItem.time_str}_${dateStr}.md`;\nreturn { json: { type: 'call', lead_id: prevItem.lead_id, source_id: prevItem.source_id, summary_text: summaryText, filename, summary_date: dateStr } };"
      },
      "id": "extract-call-summary",
      "name": "Extract Call Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const glmResponse = $json;\nconst prevItem = $('Inject Chat Prompt').item.json;\nconst msg = glmResponse.choices?.[0]?.message || {};\nconst rawContent = (msg.content || '').trim();\nconst rawReasoning = (msg.reasoning_content || '').trim();\nconst summaryText = rawContent || rawReasoning || 'Summary не получено.';\nconst dateStr = new Date().toISOString().slice(0, 10);\nconst filename = `LEAD-${prevItem.lead_id}_chat_${dateStr}.md`;\nreturn { json: { type: 'chat', lead_id: prevItem.lead_id, source_id: 0, summary_text: summaryText, filename, summary_date: dateStr } };"
      },
      "id": "extract-chat-summary",
      "name": "Extract Chat Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_summaries (lead_id, source_type, source_id, summary_text, summary_date) VALUES ($1, $2, $3, $4, $5::date)",
        "options": {
          "queryReplacement": "={{ $json.lead_id }}||={{ $json.type }}||={{ $json.source_id }}||={{ $json.summary_text.replace(/'/g, \"''\") }}||={{ $json.summary_date }}"
        }
      },
      "id": "save-call-summary",
      "name": "Save Call Summary to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        832,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO client_summaries (lead_id, source_type, source_id, summary_text, summary_date) VALUES ($1, $2, $3, $4, $5::date)",
        "options": {
          "queryReplacement": "={{ $json.lead_id }}||={{ $json.type }}||={{ $json.source_id }}||={{ $json.summary_text.replace(/'/g, \"''\") }}||={{ $json.summary_date }}"
        }
      },
      "id": "save-chat-summary",
      "name": "Save Chat Summary to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        832,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "F3beGLVPdqgBpqlv",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Daily 22:00": {
      "main": [
        [
          {
            "node": "Load Today's Calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Today's Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Today's Calls": {
      "main": [
        [
          {
            "node": "Prepare Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Today's Chats": {
      "main": [
        [
          {
            "node": "Prepare Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calls": {
      "main": [
        [
          {
            "node": "Has Calls?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chats": {
      "main": [
        [
          {
            "node": "Has Chats?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Calls?": {
      "main": [
        [],
        [
          {
            "node": "Load Call Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Chats?": {
      "main": [
        [],
        [
          {
            "node": "Load Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Call Prompt": {
      "main": [
        [
          {
            "node": "Inject Call Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chat Prompt": {
      "main": [
        [
          {
            "node": "Inject Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Call Prompt": {
      "main": [
        [
          {
            "node": "GLM-4: Summarize Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Chat Prompt": {
      "main": [
        [
          {
            "node": "GLM-4: Summarize Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-4: Summarize Call": {
      "main": [
        [
          {
            "node": "Extract Call Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLM-4: Summarize Chat": {
      "main": [
        [
          {
            "node": "Extract Chat Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Summary": {
      "main": [
        [
          {
            "node": "Save Call Summary to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Summary": {
      "main": [
        [
          {
            "node": "Save Chat Summary to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow"
  },
  "staticData": null,
  "tags": [
    {
      "name": "MVP Auto-Summary"
    }
  ],
  "triggerCount": 2
}