n8n-workflows/04-telegram-bot.json
{
  "name": "04 — Telegram Bot Commands (/report /status /rag)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 30 }]
        }
      },
      "id": "schedule-poll",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-440, 0]
    },

    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst offset = (staticData.lastUpdateId || 0) + 1;\n\n// Получаем updates с правильным offset\nconst resp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/getUpdates?limit=20&timeout=0&offset=${offset}`,\n  timeout: 15000\n});\n\nconst updates = (resp.result || []);\n\nif (updates.length === 0) {\n  return [{ json: { hasCommand: false } }];\n}\n\nconst maxId = Math.max(...updates.map(u => u.update_id));\n\n// Собираем команды\nconst commands = [];\nfor (const u of updates) {\n  const msg = u.message;\n  if (!msg || !msg.text) continue;\n  const text = msg.text.trim();\n  let cmd = null;\n  if (text.startsWith('/report')) cmd = 'report';\n  else if (text.startsWith('/status')) cmd = 'status';\n  else if (text.startsWith('/rag')) cmd = 'rag';\n  else if (text.startsWith('/help')) cmd = 'help';\n  if (cmd) {\n    commands.push({ cmd, chatId: msg.chat.id, text, update_id: u.update_id });\n  }\n}\n\n// Сохраняем offset\nstaticData.lastUpdateId = maxId;\n\nif (commands.length === 0) {\n  return [{ json: { hasCommand: false } }];\n}\n\nconst latest = commands[commands.length - 1];\nreturn [{ json: { hasCommand: true, ...latest } }];"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-220, 0]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-has-command", "leftValue": "={{ String($json.hasCommand) }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals", "rightType": "string" } }],
          "combinator": "and"
        }
      },
      "id": "if-command",
      "name": "Has Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 0]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-is-report", "leftValue": "={{ $json.cmd }}", "rightValue": "report", "operator": { "type": "string", "operation": "equals", "rightType": "string" } }],
          "combinator": "and"
        }
      },
      "id": "is-report",
      "name": "Is /report?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, -200]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-is-status", "leftValue": "={{ $json.cmd }}", "rightValue": "status", "operator": { "type": "string", "operation": "equals", "rightType": "string" } }],
          "combinator": "and"
        }
      },
      "id": "is-status",
      "name": "Is /status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-is-rag", "leftValue": "={{ $json.cmd }}", "rightValue": "rag", "operator": { "type": "string", "operation": "equals", "rightType": "string" } }],
          "combinator": "and"
        }
      },
      "id": "is-rag",
      "name": "Is /rag?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 200]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pf.id, pf.lead_id, pf.transcript_text, pf.filename, lcm.lead_name, lcm.curators FROM processed_files pf LEFT JOIN lead_chat_mapping lcm ON lcm.lead_id = pf.lead_id WHERE pf.status = 'completed' AND COALESCE(pf.summary_sent, false) = false AND pf.transcript_text IS NOT NULL ORDER BY pf.created_at DESC LIMIT 20",
        "options": {}
      },
      "id": "load-transcripts",
      "name": "Load Unsent Transcripts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, -300],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst chatId = $('Parse Command').first().json.chatId;\n\nif (items.length === 0 || !items[0].json.id) {\n  return [{ json: { hasData: false, combined: '', rowIds: [], leadIds: [], count: 0, chatId } }];\n}\n\nconst dateLabel = new Date().toLocaleDateString('ru-RU', { timeZone: 'Europe/Moscow' }) + ' (по запросу)';\nconst MAX_CHARS = 50000;\nconst sections = [];\nlet totalLen = 0;\n\nconst byLead = {};\nfor (const item of items) {\n  const { lead_id, lead_name, curators, transcript_text, id } = item.json;\n  if (!lead_id) continue;\n  const lid = String(lead_id);\n  if (!byLead[lid]) byLead[lid] = { lead_id: lid, lead_name: lead_name || `ФФ-${lid}`, curators: curators || '', calls: [], ids: [] };\n  byLead[lid].calls.push(transcript_text || '');\n  byLead[lid].ids.push(id);\n}\n\nfor (const lid of Object.keys(byLead)) {\n  const g = byLead[lid];\n  const section = `=== LEAD-${lid} (${g.lead_name}) ===\\n${g.calls.join('\\n---\\n')}`;\n  if (totalLen + section.length > MAX_CHARS) break;\n  sections.push(section);\n  totalLen += section.length;\n}\n\nconst combined = sections.join('\\n\\n');\nconst rowIds = Object.values(byLead).flatMap(g => g.ids).slice(0, sections.length * 5);\nconst leadIds = Object.keys(byLead);\n\nreturn [{ json: { hasData: true, dateLabel, combined, rowIds, leadIds, count: sections.length, chatId } }];"
      },
      "id": "aggregate",
      "name": "Aggregate Transcripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -300]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "cond-has-data", "leftValue": "={{ $json.combined }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "rightType": "string" } }],
          "combinator": "and"
        }
      },
      "id": "has-data",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $json.chatId, text: '📊 Нет новых созвонов для отчёта. Все уже были отправлены или ещё не обработаны.' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "send-no-data",
      "name": "Send No Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -160]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH prompt AS (SELECT prompt_text FROM prompts WHERE name = 'report_prompt' AND is_active = true ORDER BY version DESC LIMIT 1) SELECT COALESCE((SELECT prompt_text FROM prompt), '') AS prompt_text",
        "options": {}
      },
      "id": "load-report-prompt",
      "name": "Load Report Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, -480],
      "continueOnFail": true,
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst defaultPrompt = 'Ты аналитик отдела кураторов фулфилмент-компании. Тебе дают транскрипты созвонов.\\n\\nКУРАТОРЫ: Евгений, Кристина, Анна (основные), Галина, Дарья (консультанты), Станислав, Андрей (руководители).\\n\\nФОРМАТ ОТЧЁТА (HTML):\\n\\n<b>📊 Промежуточный отчёт за [ДАТА]</b>\\n\\n<b>👤 [КУРАТОР]:</b>\\n  • Созвонов: N (LEAD-XXXX)\\n  • Решённых вопросов: N — кратко\\n  • Открытых вопросов: N — кратко\\n\\nМаксимум 3500 символов.';\nconst prompt = rows.length > 0 && rows[0].json.prompt_text ? rows[0].json.prompt_text : defaultPrompt;\nconst meta = $('Aggregate Transcripts').first().json;\nreturn [{ json: { ...meta, systemPrompt: prompt } }];"
      },
      "id": "prep-report-prompt",
      "name": "Prepare Report Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -480]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.GLM4_BASE_URL || 'https://api.z.ai/api/anthropic') + '/v1/messages' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.GLM4_MODEL || 'claude-3-5-haiku-20241022', system: $json.systemPrompt, messages: [{ role: 'user', content: $json.combined }], max_tokens: 1500 }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.GLM4_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": { "timeout": 120000, "retry": { "enabled": true, "maxRetries": 2, "waitBetweenRetries": 5000 } }
      },
      "id": "glm-report",
      "name": "LLM Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -300]
    },

    {
      "parameters": {
        "jsCode": "const meta = $('Aggregate Transcripts').first().json;\nconst resp = $json;\n// Support both Anthropic and OpenAI response formats\nlet content = '';\nif (resp.content && Array.isArray(resp.content)) {\n  content = resp.content.filter(b => b.type === 'text').map(b => b.text).join('\\n').trim();\n} else if (resp.choices?.[0]?.message) {\n  const msg = resp.choices[0].message;\n  content = (msg.content || msg.reasoning_content || '').trim();\n}\nif (!content) content = 'Сводка не получена.';\nconst leadList = (meta.leadIds || []).map(id => `LEAD-${id}`).join(', ') || '—';\nconst DIFY_URL = $env.DIFY_CHATBOT_URL || 'http://84.252.100.93:8080';\nconst header = `<b>📊 Промежуточный отчёт за ${meta.dateLabel}</b>\\nСозвонов: ${meta.count} | Клиентов: ${(meta.leadIds||[]).length}\\n<a href=\"${DIFY_URL}\">Открыть RAG Ассистент ↗</a>`;\nconst digest = (header + '\\n\\n' + content).trim();\nreturn [{ json: { digest, summaryText: content, rowIds: meta.rowIds, chatId: meta.chatId } }];"
      },
      "id": "build-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -300]
    },

    {
      "parameters": {
        "jsCode": "const text = $json.digest || '';\nconst max = 4000;\nconst chunks = [];\nfor (let i = 0; i < text.length; i += max) chunks.push(text.slice(i, i + max));\nconst chatId = $json.chatId;\nreturn chunks.map((chunk, idx) => ({ json: { chatId, text: chunks.length > 1 ? chunk + `\\n\\n(${idx+1}/${chunks.length})` : chunk, rowIds: $json.rowIds } }));"
      },
      "id": "chunk-report",
      "name": "Chunk Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, -300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $json.chatId, text: $json.text, disable_web_page_preview: false }) }}",
        "options": { "timeout": 60000 }
      },
      "id": "send-report",
      "name": "Send Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, -300]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total, COUNT(CASE WHEN status = 'completed' THEN 1 END) as completed, COUNT(CASE WHEN status = 'error' THEN 1 END) as errors, COUNT(CASE WHEN DATE(created_at) = CURRENT_DATE THEN 1 END) as today FROM processed_files",
        "options": {}
      },
      "id": "load-status",
      "name": "Load System Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 0],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_id, lead_name, curators, active FROM lead_chat_mapping ORDER BY lead_id",
        "options": {}
      },
      "id": "load-clients-status",
      "name": "Load Clients",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [660, 160],
      "credentials": { "postgres": { "id": "F3beGLVPdqgBpqlv", "name": "PostgreSQL" } }
    },

    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Получаем статистику из предыдущей ноды (Load Clients)\nconst clientRows = $input.all();\nconst statsRows = $('Load System Status').all();\nconst chatId = $('Parse Command').first().json.chatId;\n\nconst stats = statsRows[0]?.json || {};\nconst clients = clientRows.map(r => r.json);\n\nconst now = new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' });\nconst DIFY_URL = 'http://84.252.100.93';\n\nconst clientList = clients.map(c => {\n  const curator = c.curators ? ` (${c.curators})` : '';\n  const status = c.active ? '✅' : '❌';\n  return `  ${status} LEAD-${c.lead_id} ${c.lead_name || ''}${curator}`;\n}).join('\\n');\n\nconst text = [\n  `<b>⚙️ Статус системы</b> (${now})`,\n  '',\n  `<b>Записи:</b>`,\n  `  Всего: ${stats.total || 0}`,\n  `  Готово: ${stats.completed || 0}`,\n  `  Ошибок: ${stats.errors || 0}`,\n  `  Сегодня: ${stats.today || 0}`,\n  '',\n  `<b>Клиенты (${clients.length}):</b>`,\n  clientList,\n  '',\n  `<b>Ссылки:</b>`,\n  `  <a href=\"http://84.252.100.93:5678\">n8n UI ↗</a>`,\n  `  <a href=\"${DIFY_URL}\">Dify RAG ↗</a>`,\n  `  <a href=\"http://84.252.100.93:8181/summaries/\">Саммари ↗</a>`,\n].join('\\n');\n\nreturn [{ json: { text, chatId } }];"
      },
      "id": "build-status",
      "name": "Build Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $json.chatId, text: $json.text, disable_web_page_preview: true }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "send-status",
      "name": "Send Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 80]
    },

    {
      "parameters": {
        "jsCode": "const chatId = $('Parse Command').first().json.chatId;\nconst DIFY_URL = 'http://84.252.100.93';\nconst SUMMARIES_URL = 'http://84.252.100.93:8181';\n\nconst text = [\n  '<b>🤖 ФФ Ассистент Куратора (RAG)</b>',\n  '',\n  'Задавай вопросы по клиентам в Dify:',\n  `<a href=\"${DIFY_URL}\">${DIFY_URL}</a>`,\n  '',\n  '<b>Примеры вопросов:</b>',\n  '• «ФФ-4405 — о чём договорились на прошлой неделе?»',\n  '• «ФФ-987 — какие нерешённые вопросы?»',\n  '• «Что говорит оферта про возврат товара?»',\n  '',\n  '<b>Саммари (текстовые файлы):</b>',\n  `<a href=\"${SUMMARIES_URL}/summaries/\">${SUMMARIES_URL}/summaries/</a>`,\n].join('\\n');\n\nreturn [{ json: { text, chatId } }];"
      },
      "id": "build-rag-link",
      "name": "Build RAG Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $json.chatId, text: $json.text, disable_web_page_preview: false }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "send-rag-link",
      "name": "Send RAG Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },

    {
      "parameters": {
        "jsCode": "const chatId = $('Parse Command').first().json.chatId;\nconst text = [\n  '<b>📋 Команды бота:</b>',\n  '',\n  '/report — Промежуточный отчёт по всем созвонам',\n  '/status — Статус системы и список клиентов',\n  '/rag — Ссылка на RAG-ассистент в Dify',\n  '/help — Эта справка',\n].join('\\n');\nreturn [{ json: { text, chatId } }];"
      },
      "id": "build-help",
      "name": "Build Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -120]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8527521201:AAHpyrPn4cig-zq0Xymt7lZ94qBIEXnYAeQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parse_mode: 'HTML', chat_id: $json.chatId, text: $json.text }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -120]
    }
  ],
  "connections": {
    "Poll Every 30s":   { "main": [[{ "node": "Parse Command",  "type": "main", "index": 0 }]] },
    "Parse Command":    { "main": [[{ "node": "Has Command?",   "type": "main", "index": 0 }]] },
    "Has Command?": {
      "main": [
        [{ "node": "Is /report?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is /report?": {
      "main": [
        [{ "node": "Load Unsent Transcripts", "type": "main", "index": 0 }],
        [{ "node": "Is /status?",             "type": "main", "index": 0 }]
      ]
    },
    "Is /status?": {
      "main": [
        [{ "node": "Load System Status", "type": "main", "index": 0 }],
        [{ "node": "Is /rag?", "type": "main", "index": 0 }]
      ]
    },
    "Is /rag?": {
      "main": [
        [{ "node": "Build RAG Link", "type": "main", "index": 0 }],
        [{ "node": "Build Help",     "type": "main", "index": 0 }]
      ]
    },
    "Load Unsent Transcripts": { "main": [[{ "node": "Aggregate Transcripts", "type": "main", "index": 0 }]] },
    "Aggregate Transcripts":   { "main": [[{ "node": "Has Data?",              "type": "main", "index": 0 }]] },
    "Has Data?": {
      "main": [
        [{ "node": "Load Report Prompt", "type": "main", "index": 0 }],
        [{ "node": "Send No Data",       "type": "main", "index": 0 }]
      ]
    },
    "Load Report Prompt":   { "main": [[{ "node": "Prepare Report Prompt", "type": "main", "index": 0 }]] },
    "Prepare Report Prompt": { "main": [[{ "node": "GLM-4 Report",         "type": "main", "index": 0 }]] },
    "GLM-4 Report":         { "main": [[{ "node": "Build Report",           "type": "main", "index": 0 }]] },
    "Build Report":         { "main": [[{ "node": "Chunk Report",           "type": "main", "index": 0 }]] },
    "Chunk Report":         { "main": [[{ "node": "Send Report",            "type": "main", "index": 0 }]] },
    "Load System Status":   { "main": [[{ "node": "Load Clients",           "type": "main", "index": 0 }]] },
    "Load Clients":         { "main": [[{ "node": "Build Status",           "type": "main", "index": 0 }]] },
    "Build Status":         { "main": [[{ "node": "Send Status",            "type": "main", "index": 0 }]] },
    "Build RAG Link":       { "main": [[{ "node": "Send RAG Link",          "type": "main", "index": 0 }]] },
    "Build Help":           { "main": [[{ "node": "Send Help",              "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Moscow" },
  "staticData": null,
  "tags": [{ "name": "MVP Auto-Summary" }],
  "triggerCount": 1
}
